<article class="bar-wo-pic">

    <a href="#0" class="btn-round dark star nc"></a>

    <div class="txt">
        <h2>{{ b.name|truncate(30, true) }}</h2>
        <h3>{% if b.addesss %}{{ b.address|default('Unspecified')|truncate(20, true) }}, {% endif %}{% if b.city %}{{ b.city.name|default('Unspecified')|truncate(15, true) }}{% endif %}</h3>
    </div>

    <a href="{{ path('wbb_bar_details',{city: b.city, suburb: b.suburb, slug: b.slug}) }}" class="overlay-link"></a>

</article>