{% extends "::base.html.twig" %}
{% block title %}World Best Bars{% endblock %}

{% block javascripts %}

{% endblock %}
{% block bodyTag %}
<body class="bar-guides">
{% endblock %}
{% block body %}
<div class="full-cream">

    <!-- SUBHEADER -->
    <div class="container">

        <section class="sub-header">

            {% if not is_mobile() or is_tablet() %}
            <table>
                <tr>
                    <td>
                        <div class="city-selector h3">
                            You are in
                            <select class="ui-dropdown" name="city" data-class="with-icon city">
                                <option disabled="disabled">Choose a City</option>
                                <option value="cty2">City 2</option>
                                <option value="cty3">City 3</option>
                                <option value="cty4">City 4</option>
                                <option value="cty5">City 5</option>
                                <option value="cty6">City 6</option>
                            </select>
                        </div>
                    </td>

                    <td class="title">
                        <h1>Popular Bars</h1>
                    </td>

                    <td></td>
                </tr>
            </table>
            {% else %}
            <h1>Popular Bars</h1>
            {% endif %}
        </section>
    </div>

    <!-- BARS -->
    <div class="container full">

        <section class="bars">

            {% if is_mobile() and not is_tablet() %}

            <div class="force-load">
                {# FOR : TOPBARS #}
                <article class="bar-w-pic">

                    <a href="" class="btn-round dark star"></a>

                    <div class="txt">
                        <h2>Berry Park</h2>
                        <h3>Lower Manhattan, New York</h3>
                        <div class="tags">rooftop, romance, ambiente</div>
                    </div>
                    <a href="bar-details.php" class="overlay-link"></a>

                    <div class="gradient"></div>
                    <img src="" class="scale-with-grid" data-src="tmp/bar.jpg" alt="bar.berry-park" width="570" height="428"/>
                </article>
                {# ENDFOR #}
            </div>

            {% else %}

            <div class="ui-slider type-bar has_sizer arrows dots" data-size="12x3" data-display="3">

                {# FOR : TOPBARS #}
                <div class="ui-slide">
                    <article class="bar-w-pic">

                        <a href="" class="btn-round dark star"></a>

                        <div class="txt">
                            <h2>Berry Park</h2>
                            <h3>Lower Manhattan, New York</h3>
                            <div class="tags">rooftop, romance, ambiente</div>
                        </div>
                        <a href="bar-details.php" class="overlay-link"></a>

                        <div class="gradient"></div>
                        <img src="" class="scale-with-grid" data-src="tmp/bar.jpg" alt="bar.berry-park" width="570" height="428"/>
                    </article>
                </div>
                {# ENDFOR #}
            </div>

            {% endif %}

        </section>
    </div>

    <!-- BEST OF -->
    <div class="container">

        <div class="twelve columns">

            <section class="bestof">
                <div class="align-center l-margin">
                    <h1>Best Of</h1>
                </div>

                <div class="ui-slider type-bestof has_sizer arrows dots" data-size="{% if not is_mobile() or is_tablet() %}3x3{% else %}4x3{% endif %}" data-display="{% if is_mobile() and not is_tablet() %}1{% else %}3{% endif %}">

                    {# FOR BESTOF #}
                    <div class="ui-slide">
                        <article class="bestof">

                            <a href="" class="btn-round dark star"></a>

                            <div class="txt vcenter">
                                <div class="circle vcenter">
                                    <h2>Berry Park</h2>
                                    <h3>Dance Clubs</h3>
                                </div>
                            </div>

                            <img src="" class="scale-with-grid" data-src="tmp/bar.jpg" alt="bar.berry-park" width="570" height="428"/>
                            <a href="" class="overlay-link"></a>

                        </article>
                    </div>
                    {# EFDFOR #}
                </div>
            </section>
        </div>
    </div>

    <!-- BAR FILTER -->

    <section class="bar-filter">

        <div class="container s-margin-bottom">

            <div class="twelve columns">
                <hr class="l-margin-top m-margin-bottom"/>
            </div>

            <div class="six columns h2">

                <input type="radio" name="filter" value="bar_list" class="ui-radio" data-color="brown" data-type="collapsed" checked="checked"/>
                <input type="radio" name="filter" value="best_of" class="ui-radio" data-color="brown" data-type="collapsed"/>
            </div>

            <div class="six columns sort-by h3">

                <span class="sort">Sort by :</span>

                <select class="ui-dropdown light" name="city">
                    <option value="popularity">Popularity</option>
                    <option value="date">Date</option>
                    <option value="distance">Distance</option>
                    <option value="alphabet">Alphabetical order</option>
                </select>

                <input type="radio" name="view-type" value="grid" class="ui-radio with-icon" data-color="brown" checked="checked"/>
                <input type="radio" name="view-type" value="list" class="ui-radio with-icon" data-color="brown"/>
            </div>
        </div>

        <div class="container">

            <div class="bars-w-pic force-load  {% if is_mobile() and not is_tablet() %}m-margin-top{% endif %} load-container">

                {# FOR BARS #}
                {% if not is_mobile() or is_tablet() %}<div class="three columns m-margin-top">{% endif %}
                    <article class="bar-w-pic">

                        <a href="" class="btn-round dark star"></a>

                        <div class="txt">
                            <h2>Berry Park</h2>
                            <h3>Lower Manhattan, New York</h3>
                            <div class="tags">rooftop, romance, ambiente</div>
                        </div>
                        <a href="bar-details.php" class="overlay-link"></a>

                        <div class="gradient"></div>
                        <img src="" class="scale-with-grid" data-src="tmp/bar.jpg" alt="bar.berry-park" width="570" height="428"/>
                    </article>
                {% if not is_mobile() or is_tablet() %}</div>{% endif %}
                {# ENDFOR #}

                <div class="load-target"></div>

                <div class="twelve columns align-center m-margin load-more-container">
                    <a class="h4 btn-radius large border load-more brown" href="tmp/data/bar.php?<?=$is_mobile?'&mobile':''?>">See more bars</a>
                </div>

            </div>

            <div class="bars-w-pic-list load-container" style="display: none">

                {# FOR BARS #}
                <article class="bar-w-pic-list">

                    <div class="three columns s-margin-top">

                        <div class="bar-w-pic list">

                            <a href="" class="btn-round dark star"></a>

                            <a href="bar-details.php" class="overlay-link"></a>

                            <img class="scale-with-grid" src="tmp/bar.jpg" alt="bar.berry-park" width="570" height="428"/>
                        </div>
                    </div>

                    <div class="nine columns s-margin-top">
                        <h2 class="s-margin-top">Berry Park</h2>
                        <h3 class="xs-margin-top">Lower Manhattan, New York</h3>
                        <p class="s-margin-top">
                            From the team behind the acclaimed Employees Only and David Waltuck, chef and owner of Chanterelle,
                            comes a new super-hip Tribeca spot. Taking its inspiration from the brothels and opium dens of old 1930s ...
                        </p>
                        <div class="tags">rooftop, romance, ambiente</div>
                    </div>
                    <div class="separator"><hr/></div>
                </article>
                {# ENDFOR #}

                <div class="load-target"></div>

                <div class="twelve columns align-center m-margin load-more-container">
                    <a class="h4 btn-radius large border load-more brown" href="tmp/data/bar.php?list=1<?=$is_mobile?'&mobile':''?>">See more bars</a>
                </div>

            </div>

        </div>

        <script type="text/javascript">

            $('input[name=view-type]').change(function()
            {
                if( $(this).val() == "grid")
                {
                    $('.bars-w-pic-list').fadeOut(200, 'easeInOutCubic', function()
                    {
                        $('.bars-w-pic').show();

                        var $elements = $('.bars-w-pic article');

                        $elements.addClass('enable3d').css({opacity:0, top:'6em', position:'relative'}).each(function(index){

                            $(this).delay(60*(index+1)).velocity({opacity:1, top:0}, 600, 'easeInOutCubic');
                        });
                    });
                }
                else
                {
                    $('.bars-w-pic').fadeOut(200, 'easeInOutCubic', function()
                    {
                        $('.bars-w-pic-list').show();

                        var $elements = $('.bars-w-pic-list article');

                        $elements.addClass('enable3d').css({opacity:0, top:'6em', position:'relative'}).each(function(index){

                            $(this).delay(100*(index+1)).velocity({opacity:1, top:0}, 600, 'easeInOutCubic');
                        });
                    });
                }
            });

        </script>

    </section>


</div>
{% endblock %}