<div class="three columns box">
    <article class="tip">
        <table class="content expert">
            <tr class="excerpt">
                <td colspan="2">
                    <div class="scroll custom-scroll">
                        <span itemprop="description">
                            “{{ tip.description }}”
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr class="s-margin-bottom"/>
                </td>
            </tr>
            <tr class="author">
                <td colspan="2">
                    <img src="{{ asset('bundles/wbbcore/images/tmp/user.ryan.png') }}" alt="user" width="40" height="40"/>
                    <b>{{ tip.user.getUserRole }}</b>
                    {{ tip.user.fullname }}
                </td>
            </tr>
        </table>
    </article>
</div>