{% set s=0 %}
{% for t in tips.data %}
	{% if t.id not in excluded and s<show %}
	<div class="three columns box fstip" data-index="{{ offset+loop.index }}">
	    <article class="tip">
	        <table class="content">

	            <tr class="excerpt">
	                <td colspan="2">
	                    <div class="scroll">
	                        <img src="/bundles/wbbcore/images/icons/pin.foursquare-blue.png" alt="icon.foursquare" width="30" height="30"/><br/>
	                        “{{ t.text}}”
	                    </div>
	                </td>
	            </tr>
	        </table>
	    </article>
	</div>
        {% set s=s+1 %}
	{% endif %}
{% endfor %}

