{% set s=0 %}
<script type="text/javascript">
    eval("{% if offset==0 and tips.data|length<=0 %}$('#tipsForm').removeClass('three');$('#tipsForm').addClass('six');{% endif %}");
</script>
{% for t in tips.data %}
	{% if t.id not in excluded and s<show-1 %}
    {% set idx = offset+loop.index %}
	<div class="three columns box fstip" data-index="{{ idx }}">
	    <article class="tip">
	        <table class="content">

	            <tr class="excerpt">
	                <td colspan="2">
	                    <div class="scroll">
	                        <img src="/bundles/wbbcore/images/icons/pin.foursquare-blue.png" alt="icon.foursquare" width="30" height="30"/><br/>
	                        “{{ t.text}}”
	                    </div>
	                </td>
	            </tr>
	        </table>
	    </article>
            <script type="text/javascript">
                    eval("$('.load-more').data('offset', {{ idx }});{% if tips.data|length<show %}$('.load-more').css('display','none');{% endif %}");
            </script>
	</div>
        {% set s=s+1 %}
	{% endif %}
{% endfor %}

