{% for tip in tips %}
<li class="col col-4">
    <div class="block-tip">
        <p>
            {{ tip.description }}
        </p>
        <div class="profil margin-top-10 padding-top-10 separator-top">
            <img src="images/UI/_images/robert_smithson.jpg" height="40" width="40" class="left">
            <div class="expert bold">{{ user.userRole }}</div>
            <div class="name">{{ user.firstname }} {{ user.lastname }}</div>
        </div>
        <a href="#close" class="close no-text">Close</a>
        <div class="clear"></div>
    </div>
</li>
{% endfor %}