<html>
<head>
    <meta charset="UTF-8">
    <title>Error 500</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/bundles/wbbcore/css/front.css" />
    <link rel="stylesheet" href="/bundles/wbbcore/css/wbb.css" />
    <link rel="stylesheet" href="/bundles/wbbcore/css/main.css" />

    <!-- JS -->
    <script type="text/javascript" src="/bundles/wbbcore/js/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="/bundles/wbbcore/js/plugins/jquery.easing.js"></script>
    <script type="text/javascript" src="/bundles/wbbcore/js/plugins/modernizr.js"></script>
    <script type="text/javascript" src="/bundles/wbbcore/js/libs/utils.metabolism.js"></script>
    <script type="text/javascript" src="/bundles/wbbcore/js/app.js"></script>
</head>
<body class="error">
    <header class="desktop">
        <div class="container">
            <div class="twelve columns"></div>
        </div>
    </header>
    <header class="mobile">
        <div class="container">
            <div class="twelve columns">
                <table>
                    <tbody><tr>
                        <td class="logo">
                            <a href="/app_dev.php/?city=1" style="visibility: hidden">
                                <img src="{{ asset('bundles/wbbcore/images/logo.png') }}" alt="logo" width="104" height="56">
                            </a>
                        </td>
                    </tr>
                </tbody></table>
            </div>
        </div>
    </header>


    <div class="desktop">
        <div class="full-cream">
            <div id="error" class="min-height padding-top-100">
                <div class="wrap padding-bottom-80">
                    <div id="alert" class="text-align-center">
                        <img src="{{ asset('bundles/wbbcore/images/404_desktop.png') }}">
                        <div class="subtitle margin-top-30 bold">500 ERROR</div>
                        <p class="bold margin-top-20 padding-bottom-40">SORRY...<br />
                            we’re experiencing an internal server problem. <br />Please try again later.</p>
                    </div> <!-- #alert -->
                </div>
            </div> <!-- #error -->
        </div>
    </div>
    <div class="mobile">
        <div class="full-cream">
            <div id="error" class="padding-top-80">
                <div class="wrap padding-bottom-80">
                    <div id="alert" class="text-align-center">
                        <img src="{{ asset('bundles/wbbcore/images/404_desktop.png') }}">
                        <div class="subtitle margin-top-30">500 ERROR</div>
                        <p class="margin-top-20">Sorry...<br />
                            we’re experiencing an internal server problem. <br />Please try again later.</p>
                    </div> <!-- #alert -->
                </div>
            </div> <!-- #error -->
        </div>
    </div>

    <footer class="desktop">
        <div class="container">
            <div class="twelve columns">

            </div>
        </div>
    </footer>

    <footer class="mobile">
        <div class="container right left">
        </div>
    </footer>
</body>
</html>