{#{% extends '::base.html.twig' %}#}

{% block body %}
    <div class="full-cream">
        <div id="register">
            <div id="UI" class="wrap">
                <div id="alert" class="text-align-center text-transform-uppercase">
                    <img src="{{ asset('bundles/wbbcore/images/404_desktop.png') }}">
                    <div class="subtitle margin-top-30">404 ERROR</div>
                    <p class="margin-top-20 margin-bottom-20">The page you are looking for <br />
                        has either been moved <br />or removed</p>
                </div> <!-- #success -->
            </div> <!-- #UI -->
        </div> <!-- #register -->
    </div>
{% endblock %}