

 <div class="container l-margin-top m-padding-bottom">

        <div class="twelve columns h1 m-margin-bottom color-brown">
            Editor's Picks
        </div>

        <!-- 8 COLS -->
        <section class="articles padding eight columns">
            {% for n in articles|slice(0,1) %}
                {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'has_image' : 1, 'has_text' : 1 } %}
            {% endfor %}
            {% for n in articles|slice(1,1) %}
                {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_image' : 1 } %}
            {% endfor %}
            {% for n in interviews|slice(0,1) %}
                {% include "WBBBarBundle:News/blocks:interview.html.twig"  with { 'n' : n , 'has_quote' : 1 } %}
            {% endfor %}
            {% for n in articles|slice(2,1) %}
                {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'has_image' : 1, 'has_text' : 1 } %}
            {% endfor %}

        </section>

        <!-- 4 COLS -->
            <aside class="articles padding four columns">
                <div class="block ads-pannel">
                    <div class="side-ad m-margin-top">
                        <img src="{{ asset('bundles/wbbcore/images/tmp/ad.side.jpg') }}" alt="ad.jameson" width="300"
                             height="250"/>

                        <div class="txt">Advertising</div>
                    </div>
                </div>
  {#               {% set bigAd = true %} #}
                {%  if not bigAd %}
                    {% for n in interviews|slice(1,1) %}
                        {% include "WBBBarBundle:News/blocks:interview.html.twig"  with { 'n' : n , first : true } %}
                        {# {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n } %} #}
                    {% endfor %}
                {%  endif %}

                {% for n in interviews|slice(2,1) %}
                {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'has_image' : 1 , firstchild : true } %}
                    {# {% include "WBBBarBundle:News/blocks:interview.html.twig"  with { 'n' : n } %} #}
                {% endfor %}

                {% for n in articles|slice(3,1) %}
                    {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'has_image' : 1 } %}
                {% endfor %}

                {% for n in interviews|slice(3,1) %}
                    {# {% include "WBBBarBundle:News/blocks:interview.html.twig"  with { 'n' : n } %} #}
                    {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'has_image' : 1 } %}
                {% endfor %}

                {% for n in articles|slice(4,1) %}
                    {# {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'has_image' : 1 } %} #}
                    {% include "WBBBarBundle:News/blocks:interview.html.twig"  with { 'n' : n } %}
                {% endfor %}


            </aside>
    </div>


    <!-- AD -->
        {% block footerAd %}
           {% include '::ads/adsFooter.html.twig' %}
        {% endblock %}

  
    <div class="load-container">
        <!-- OLDER NEWS -->
        <div class="container m-margin-top">
            <!-- 12 COLS -->
            <div class="articles older-news twelve columns">

                {% for n in articles|slice(5,3) %}
                    {% if loop.index == 2 %}
                        {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_text' : 1} %}
                    {%  else %}
                        {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_image' : 1 , show_quote : 1  } %}
                    {%  endif %}
                {% endfor %}

                {% set newsIndex = 0 %}
                {%  if bigAd %}
                    {% for n in interviews|slice(1,1) %}
                        {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_text' : 1 , show_quote : 1  } %}
                        {# {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n } %} #}
                    {% endfor %}
                    {% set newsIndex = 1 %}
                    {% set cursorIndex = 0 %}
                {%  else %}
                    {% set cursorIndex = 1 %}
                {% endif %}

                
                {% for n in newsList %}
                    {% if cursorIndex % 2 == 0 %}
                            {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_image' : 1 } %}
                        {% set newsIndex=1 %}
                    {% else %}
                        {% include "WBBBarBundle:News/blocks:article.html.twig"  with { 'n' : n , 'is_small' : 1, 'has_text' : 1 , show_quote : 1 } %}
                        {% set newsIndex = 0 %}
                    {% endif %}
                    {% set cursorIndex = cursorIndex + 1 %}
                {% endfor %}
            </div>
        </div>

        
    </div>