<article class="small">
    <div class="title vcenter">
            <h2><a href="">{{ n.title }}</a></h2>

            <h1>
                “ {{ n.quoteText }} ”
            </h1>
            <p class="m-margin">{{ n.quoteAuthor }}</p>

    </div>
</article>