<article class="bar-w-pic">

    <div class="txt">
        <h2>{{ n.title }}</h2>
    </div>
    <a href="#0" class="overlay-link"></a>

    <div class="gradient"></div>
    {% for m in n.medias|slice(0,1) %}
        <img src="" class="scale-with-grid" data-src="{% path m.media, 'slider_large' %}" alt="{{ n.title }}" width="852" height="639"/>
    {% endfor %}
</article>