/web/bundles/
/web/media/
/web/uploads/
/web/css/
/web/js/
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/cache/
/app/logs/
/build/
/vendor/
/bin/
/.idea/
*.DS_Store
*.php~
/nbproject/private/
/nbproject/
