article.bestof {

  position: relative;
  .btn-round { z-index: 25; position: absolute; right: 1em; top: 1em; }
  .txt { position: absolute; z-index: 20; bottom: 0; left: 0; right: 0; top: 0;
    .circle { text-align: center; width: 20em; height: 20em; border-radius: 50%; margin: auto auto; background-image: url("../images/color.000000.60.png");
      h2 { color: $color-subtle-yellow; text-transform: uppercase; font-weight: bold; margin: 0.5em; }
      h3 { color: $color-subtle-yellow; text-transform: none; }
    }
  }
  img.scale-with-grid{ display: block; opacity : 0.8; @include transition( opacity ease-in-out 0.2s); @include reduceFlickering() }

  &:hover
  {
    img.scale-with-grid{ opacity : 0.99 }
  }
}

html.mobile article.bestof
{
  img.scale-with-grid{ opacity : 1 }
  &:hover img.scale-with-grid{ opacity : 1 }
}