{% extends "::base.html.twig" %}
{% block title %}World Best Bars - About Us{% endblock %}

{% block body %}
    <div class="full-cream">
        <div id="page-standard" class="wrap">
            <div class="padding-top-50 padding-bottom-50 min-height">
                <div class="title h1">World's Best Bars - What is it and how does it work?</div>
                <div class="content">

                    <p>WorldsBestBars.com is much more than a bar directory, it's a site with an ongoing mission to locate the finest bars the planet has to offer and boasts reviews of over 2,000 of the world's most prestigious places to drink and be seen in.</p>

                    <p>If you're passionate about impeccably made drinks, sublime design and genuine, un-manufactured atmosphere, then we can help you find the best places in the world in which to spend your evenings. We cover everything from exclusive cocktail lounges to more stylish and intimate night spots, from the most famous names in the bar world to undiscovered gems, as voted for by other discerning bar-goers.</p>

                    <p>WorldsBestBars.com is built around a global bar community. It's about sharing your tips and stories with other like-minded people. When you become a member of WorldsBestBars.com, you can review the bars on the site. When a bar gets enough positive reviews, it earns itself a place on the coveted Top 100 Bars list. By the same token, if enough of you tell us that a bar has fallen below par, we'll remove it from the site. Also, if you've been to a bar that blew you away and gave you an amazing evening and it's not up on the site, then tell us about it and we'll spread the word.</p>

                    <p>Look out for our new independent expert panel which comprises of leaders, entrepreneurs and influencers in the drinks industry with the most discerning palettes and a nose for the world's most happening venues.</p>

                    <p>If you have any questions, comments or suggestions, please send us your thoughts by <a href="#mail">editor@worldsbestbars.com</a></p>

                    <p>If you represent a bar that you would like to submit to us for consideration visit our dedicated bar owner page <a href="#link">here</a></p>
                </div>
            </div>
        </div> <!-- #page-standard -->
    </div>
{% endblock %}