{% extends "::base.html.twig" %}
{% block title %}World Best Bars - Privacy Policy{% endblock %}

{% block body %}
    <div class="full-cream">
        <div id="page-standard" class="wrap {% if is_mobile() and not is_tablet() %}mobile{% endif %}">
            <div class="padding-top-50 padding-bottom-50 min-height">
                <div class="title h1">Privacy Policy</div>
                <div class="content">
                    <p>We are committed to protecting and respecting your privacy. This Privacy Statement, together with the Terms and Conditions of use of our website www.worldsbestbars.com (hereinafter referred to as the “Site”) and any other documents referred to on it, sets out the basis on which any personal data we collect from you or that you provide to us (hereinafter referred to as the “Data”) will be processed by us. Please read the following carefully to understand our treatment and use of Data.</p>
                    <p>For the purpose of the French Act No. 78-17 on Information Technology, Data Files and Civil Liberties of 6 January 1978 1, the data controller is Pernod Ricard, a French company registered at the Trade and Company Registry of Paris under number B 582 041 943 with its registered office located 12 Place des Etats-Unis, 75016 Paris, France</p>
                </div>
            </div>
        </div> <!-- #page-standard -->
    </div>
{% endblock %}