{% extends "::base.html.twig" %}
{% block title %}World Best Bars - Responsible Drinking{% endblock %}

{% block body %}
    <div class="full-cream">
        <div id="page-standard" class="wrap {% if is_mobile() and not is_tablet() %}mobile{% endif %}">
            <div class="padding-top-50 padding-bottom-50 min-height">
                <div class="title h1">World's Best Bars - Responsible Drinking</div>
                <div class="content">
                    <p>World’s Best Bars website and all companies within the Pernod Ricard group carry on a long-standing tradition of dedication to responsible drinking.</p>
                    <p>Through a broad range of initiatives, often in partnership with a wide range of organizations, including industry associations, regulators and public authorities’ representatives, Pernod Ricard and its affiliates are deeply committed to promoting responsible drinking and discouraging misuse of our products.</p>
                    <p>We believe responsible drinking is consistent with the maintenance of a balanced and positive lifestyle for most adults who choose to drink. Responsible Drinking is not only about how much we drink but also how and when we drink, and the effect of our behaviors on others:</p>
                    <ul>
                        <li>For the one that choose to drink, it means drinking enjoyably, sociably and pacing oneself,</li>
                        <li>As a parent, it means being aware of the risks associated with underage drinking and setting an example of moderation</li>
                        <li>It includes not drinking at all in situations when the effects of alcohol will put someone's safety or health at risks – Such as when driving, when pregnant or in certain work situation</li>
                    </ul>
                    <p>As a consequence of our commitment to promoting responsible drinking, we hope you understand that we expect that users will not post any comments which:</p>
                    <ul>
                        <li>features any people who are or appear to be under the legal drinking age,</li>
                        <li>is made by someone under the legal drinking age;</li>
                        <li>encourages underage purchase or drinking of alcoholic beverages or illegal, irresponsible or immoderate drinking;</li>
                        <li>promotes over-consumption or condemns or criticizes in any way anyone who chooses not to drink alcohol;</li>
                        <li>portrays irresponsible drinking in a positive light or associates drinking with driving, operating any kind of machinery or engaging any kind of dangerous activity;</li>
                        <li>implies alcoholic beverages have any physical, psychological, intellectual benefits or contributes to sexual success;</li>
                        <li>implies alcoholic beverages gives confidence or helps to overcome individual or social problems;</li>
                        <li>glorifies the alcohol strength;</li>
                        <li>mentions drinking alcohol in relation to any kind of illegal, antisocial, dangerous, aggressive or violent behavior.</li>
                    </ul>
                    <p>Should your comment be not compliant with the here above, you understand that we will remove it.</p>
                    <p>For more information on our commitment for responsible drinking, visit Pernod Ricard corporate website : <a href="http://pernod-ricard.com/5970/csr/responsible-drinking/wise-drinking">http://pernod-ricard.com/5970/csr/responsible-drinking/wise-drinking</a></p>
                </div>
            </div>
        </div> <!-- #page-standard -->
    </div>
{% endblock %}