{% extends "::base.html.twig" %}
{% block title %}Terms and Conditions{% endblock %}

{% block body %}
    <div class="full-cream">
        <div id="page-standard" class="wrap {% if is_mobile() and not is_tablet() %}mobile{% endif %}">
            <div class="padding-top-50 padding-bottom-50 min-height">
                <div class="title h1">Terms and Conditions</div>
                <div class="content">
                    <p>The following terms and conditions (hereinafter referred to as the “Terms and Conditions”) apply to users, viewers and all people who have access to the site www.worldsbestbars.com (hereinafter referred as the “Site”).</p> 

                    <p>By using or viewing the Site you agree to these Terms and Conditions. If you do not agree, do not use the Site. </p>

                    <p>Any access or use of the Site is undertaken at the user's own risk. The Site is owned by Pernod Ricard, registered at the Trade and Company Registry of Paris under number B 582 041 943 with its registered office located 12 Place des Etats-Unis, 75016 Paris, France. </p>

                    <p>You must be of legal drinking age to use this Site. If you are not, do not enter this Site.</p>

                    <div class="h2 bold margin-top-50 text-transform-uppercase">1. Restrictions on use</div>
                    <p>Access to the Site is permitted on a temporary basis, and we reserve the right to withdraw or amend the services we provide on the Site without notice. We will not be liable if for any reason our Site is unavailable at any time or for any period. 

                    <p>Material from the Site may not be modified, copied, reproduced, distributed, republished, uploaded, posted, or transmitted in any way without the prior written consent of Pernod Ricard. </p>

                    <p>Pernod Ricard is the owner of all intellectual property rights in the Site and in any material published on it.</p> 

                    <p>All such rights are reserved. Neither title nor any intellectual property rights are transferred to you by use of or access to the Site; rather, all rights, title and interest in and to all aspects of the Site remain the property of Pernod Ricard. Material on the Site is provided for lawful purposes only.</p>

                    <div class="h2 bold margin-top-50 text-transform-uppercase">2. Restriction of liability</div>
                    <p>Under no circumstances shall Pernod Ricard, to the extent permitted by law be liable for any damages whatsoever (including, but not limited to direct, incidental, consequential or indirect loss or damage, including lost profits, loss of income or revenue, loss of goodwill, business interruption or loss of data or information, or punitive damages even if Pernod Ricard was notified in advance of the potential of such damages), harm, or injury howsoever arising, and whether caused by tort, breach of contract or otherwise, that relate to, arise out of, or result from the use of, or access to, or the inability to use the Site or any of the materials of the Site or sites "hot-linked" to the Site, or are caused by any failure of performance, error, omission, interruption, defect, delay in operational transmission, computer virus or line failure.</p> 

                    <p>The material on the Site could include technical inaccuracies or typographical errors. The materials on the Site are provided "as is" and without warranties of any kind, expressed or implied. To the fullest extent permissible by applicable laws, Pernod Ricard disclaims all liability for negligence and disclaims all representations and warranties, expressed or implied, (whether by law, case law, trade usage or otherwise) including but not limited to implied warranties of merchantability, fitness for a particular purpose, or non-infringement. </p>

                    <p>Pernod Ricard does not warrant or make any representations that use of the Site will be uninterrupted or error-free, that the contents will be correct accurate or reliable, or that the Site or the server that makes it available are free of viruses or other harmful components. Pernod Ricard does not warrant or make any representations and expressly disclaims all liability and responsibility regarding use of or reliance upon information contained in the Site in terms of its accuracy, reliability or otherwise. You (and not Pernod Ricard) assume the entire cost of all necessary servicing, repair or correction.</p>

                    <div class="h2 bold margin-top-50 text-transform-uppercase">3. Protection of intellectual property</div>
                   
                    <p><span class="gold">3.1 Protection of the Site and its contents by intellectual property rights</span> The Site itself, such as its architecture, its presentation, its graphic standards and everything it contains, in particular the databases accessible via the Site as well as all the material (texts, graphs, graphics, logos, drawings, images, etc.) which are published on the Site are protected by intellectual property rights, including copyright (hereinafter referred to as the “Protected Elements”) and are the exclusive property of Pernod Ricard.</p>

                    <p>Without such list being exhaustive, you shall not, in particular: - reproduce, copy, modify, create a derivative work, assemble, recreate, distribute, present, show, disseminate, publicly display, transfer, transmit, publish, sell, attribute, sub-license, transfer, make available to a third party, market, all or part of the Protected Elements, in any manner whatsoever, - modify, alter, all or part of the Protected Elements with a view, in particular, to obtaining unauthorized access to the Site and accessing the Site by any means other than the connection interface with the user space, furnished by Pernod Ricard to you for such purpose via the Site.</p>
                        
                    
                    <p><span class="gold">3.2 Protection of the Databases</span> All data which are accessible on the Site form all together databases in the meaning of Article L.112-3 of the French Intellectual Property Code (hereinafter referred to as the “Databases”).</p>

                    <p>Pernod Ricard had the initiative for the creation and development of the Databases and made substantial investments in developing the Databases. Thus, in addition to being the author of the Databases which are original in nature, Pernod Ricard is the producer of the Databases and is the holder of all rights conferred on it by the French Intellectual Property Code in this regard</p>
                    <p>Accordingly, you hereby acknowledge not to perform the following:</p>

                    <ul>
                        <li><span class="gold">(i)</span> the retrieval, by permanent or temporary transfer, of all or a qualitatively or quantitatively substantial part of the content of the Databases to another media, regardless of the means and form,</li>
                        <li><span class="gold">(ii)</span> the reuse, by making available to the public, of all or a qualitatively or quantitatively substantial part of the content of the Databases, regardless of the form,</li>
                        <li><span class="gold">(iii)</span> the retrieval or repeated and systematic reuse of qualitatively or quantitatively non-substantial parts of the content of the Databases over and above normal conditions of use of the Databases.</li>
                    </ul>
                        
                    
                    <p><span class="gold">3.3 Protection of trademarks</span> All trademarks and all related logos, designs, labels, bottle designs and all other intellectual property associated with worldsbestbars.com used herein are owned by Pernod Ricard.</p>

                    <p>Pernod Ricard’s trademarks may not be used in connection with any product or service that is not Pernod Ricard’s, in any manner that is likely to cause confusion, or in any manner that disparages or discredits Pernod Ricard. All other trademarks are the property of their respective owners, who may or may not be affiliated with, connected to or, sponsored by Pernod Ricard.</p>


                    <div class="h2 bold margin-top-50 text-transform-uppercase">4. Submissions</div>
                    <p>You acknowledge that for all the content that you edit on the Site (opinions, comments, etc., hereinafter collectively referred to as the “Submissions”), you have the status of editor in the meaning of Article 6 of French Act No. 2004-575 of 21 June 2004 for the confidence in the digital economy.</p>

                    <p>Therefore, you guarantee that all Submissions that you edit on the Site are lawful, accurate, non-erroneous, loyal and complies with these Terms and Conditions. In this regard, you shall be the only one liable for any Submission that you edit on the Site and the consequences connected to its creation, deletion, modification and loading onto the Site.</p>

                    <p>You are informed that in the event you edit a Submission which is unlawful and/or non-compliant with these Terms and Conditions, Pernod Ricard may, upon notification of any people: </p>

                    <ul>
                        <li>verify, control, delete the Submission or render access to the Submission impossible via the Site,</li>
                        <li>and/or suspend or delete the access to your user area on the Site.</li>
                    </ul>

                    <p>Pernod Ricard does not monitor Submissions on the Site. Thus, it is not able to determine whether the Submissions are notably unlawful, threatening, libelous, defamatory, obscene or pornographic.</p>

                    <p>Pernod Ricard shall have the status of host with respect to any Submission that is edited on the Site within the meaning of Article 6 of French Act No. 2004-575 of 21 June 2004 for the confidence in the digital economy.</p> 

                    <p>Any person which finds that any Submission on the Site is unlawful in nature must promptly notify it to Pernod Ricard.</p>

                    <p>All notifications (hereinafter referred to as the “Notifications”) shall be made by registered letter, with acknowledgment of receipt sent to Pernod Ricard, at the place of its registered office as indicated above, and shall necessarily indicate: </p>

                    <ul>
                        <li>the date of the Notification, </li>
                        <li>if the notifying person is a natural person: his last and first names, profession, domicile, nationality, date and place of birth; if the notifying party is a corporate entity: its form, name, registered office and the body legally representing it, </li>
                        <li>the name and registered office of the recipient of the Notification, i.e. Pernod Ricard, </li>
                        <li>the description of the facts in dispute and their precise location on the Site, </li>
                        <li>the grounds for which the Submission must be withdrawn, including the mention of legal provisions and justification of facts,</li>
                        <li>the copy of the correspondence sent to the author or editor of the information in dispute requesting that it be interrupted, withdrawn or modified, or proof that the author or editor could not be contacted. This Notification shall be backed up with an e-mail (containing the list of information indicated above) sent to the following address: <a href="mailto:legal@worldsbestbars.com">legal@worldsbestbars.com</a></li>
                    </ul>
                    
                    <p>You are hereby informed that Pernod Ricard cannot be considered as informed of the Notification unless all the above information is contained in the Notification.</p>

                    <p>Following Notification, Pernod Ricard may, in particular: </p>

                    <ul>
                        <li>verify, control, delete the Submission in dispute or render its access to the Submission impossible via the Site,</li>
                        <li>and/or suspend or stop the access of its user area by the editor of the Submission in dispute.</li>
                    </ul>
                    
                    <p>Pernod Ricard alone shall remain judge of the actions to be implemented following a Notification and cannot be held liable for any actions implemented or any absence of action following a Notification.</p>

                    <div class="h2 bold margin-top-50 text-transform-uppercase">5. Applicable law and jurisdiction</div>
                    <p>hese Terms and Conditions shall be governed in accordance with the laws of France, notwithstanding any principles of conflicts of laws. Except as described otherwise, all materials in the Site are made available only to provide information about worldsbestbars.com. </p>

                    <p>Pernod Ricard which controls and operates the Site from France makes no representation that these materials are appropriate or available for use in other locations. </p>

                    <p>Any interpretation, dispute or claim concerning these Terms and Conditions shall be submitted to the exclusive jurisdiction of the Paris courts, notwithstanding plurality of parties to the action, third party proceedings, including all emergency, protective and summary proceedings.</p>

                    <div class="h2 bold margin-top-50 text-transform-uppercase">6. Information about you and your visit to this Site</div>
                    <p>Pernod Ricard processes information about you in accordance with its Privacy Policy </p>

                    <p>http://www.worldsbestbars.com/privacy-policy . By using the Site, you consent to such processing and you warrant that all data provided by you is accurate.</p>

                    <p>By using the Site, you consent to such processing and you warrant that all data provided by you is accurate.</p>

                    <div class="h2 bold margin-top-50 text-transform-uppercase">7. Viruses, hacking and other offences</div>
                    <p>You must not misuse the Site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. </p>

                    <p>You must not attempt to gain unauthorized access to the Site, the service on which the Site is stored or any server, computer or database connected to the Site. </p>

                    <p>You must not attack the Site via a denial-of-service attack or a distributed denial-of service attack. </p>

                    <p>Pernod Ricard will not be liable for any loss or damage caused by a distributed denial-of service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of the Site or to your downloading of any material posted on it, or on any website linked to it.</p>

                    <div class="h2 bold margin-top-50 text-transform-uppercase">8. Miscellaneous products and promotions of worldsbestbars.com</div>
                    <p>They are produced and available in many parts of the world. However, the Site may describe products, promotions or contests that are not available in your country or state of domicile. </p>

                    <p>The Site may be linked with other sites which are not maintained by Pernod Ricard. 

                    <p>Pernod Ricard is not responsible for the content of those sites. </p>

                    <p>The inclusion of any "hot-link" to any other site is provided for information purposes only and does not imply endorsement by Pernod Ricard of the sites. </p>

                    <p>Pernod Ricard does not have any control over the content of such sites and excludes any representation or warranties about any suchsites.  </p>

                    <p>If any part of these Terms and Conditions is unlawful, void or unenforceable, that part will be deemed severable and will not affect the validity of any remaining provisions. </p>

                    <p>Pernod Ricard can revise these Terms and Conditions or the content of the Site at any time by updating this posting. You are bound by any such revisions and should therefore periodically visit this page to review the current Terms and Conditions to which you are bound. </p>

                    <p>Thank you for visiting the Site. Please enjoy our products responsibly. All rights reserved.</p>
                </div>
            </div>
        </div> <!-- #page-standard -->
    </div>
{% endblock %}