<div class="line">
{% for bar in bars %}
    {% if not is_mobile() or is_tablet() %}<div class="three columns m-margin-top">{% endif %}
        {% if distance is defined and distance %}
            {% include "WBBBarBundle:Bar:bar1.html.twig" with { 'b': bar, 'distance': distance, 'latitude': distance.latitude, 'longitude': distance.longitude } %}
        {% else %}
            {% include "WBBBarBundle:Bar:bar1.html.twig" with { 'b': bar } %}
        {% endif %}
    {% if not is_mobile() or is_tablet() %}</div>{% endif %}
{% endfor %}
</div>