<div id="success" class="padding-top-80 padding-bottom-100 text-align-center">
	<div class="margin-top-80">
		<div class="subtitle text-transform-uppercase bold">Congratulations!</div>
		<p>You are now registered on  World’s Best Bars.</p>
		<p>Check your mailbox <br>
		to confirm your subscription.</p>
	</div>
</div><!-- #success -->