<div id="success" class="min-height">
	<div class="text-align-center">
		<div class="subtitle text-transform-uppercase bold margin-bottom-40">Congratulations!</div>			 
		<p>You are now registered on  World’s Best Bars.</p>
		<p>Check your mailbox to confirm your subscription.</p>
	</div>
</div><!-- #success -->