<div id="success" class="min-height" {% if is_mobile() and not is_tablet() %}style="min-height: 275px"{% endif %}>
    <div class="{% if is_mobile() and not is_tablet() %}padding-top-20{% else %}padding-top-100{% endif %}">
        <div class="subtitle wrap bold margin-bottom-30 {% if is_mobile() and not is_tablet() %}padding-top-20{% else %}padding-top-50{% endif %}">CONGRATULATIONS !</div>
        <p>You are now registered on  World’s Best Bars.</p>
        <p class="padding-bottom-40">Check your mailbox to confirm your subscription.</p>
    </div>
</div>