{% extends "::base.html.twig" %}

{% block body %}
    <div class="full-cream">
        <div id="register">
            <div id="UI" class="wrap">
                <div id="success" class="text-align-center">
                    <div class="subtitle text-transform-uppercase">Congratulations!</div>
                    <p class="margin-top-20 margin-bottom-20">You are now registered on  World’s Best Bars.</p>

                    <p>Check your mailbox <br />
                        to confirm your subscription.</p>

                </div> <!-- #success -->
            </div> <!-- #UI -->
        </div> <!-- #register -->
    </div>
{% endblock %}