<div id="success" class="text-align-center">
	<div class="min-height">
		<div class="padding-top-100">
			<div class="padding-top-20">
				<div class="subtitle text-transform-uppercase bold">Congratulations!</div>
				<p>You are now registered on  World’s Best Bars.</p>
				<p>Check your mailbox to confirm your subscription.</p>
			</div>
		</div>
	</div>
</div><!-- #success -->