<div id="success" class="min-height" {% if is_mobile() and not is_tablet() %}style="min-height: 260px"{% endif %}>
    <div class="{% if is_mobile() and not is_tablet() %}padding-top-20{% else %}padding-top-80{% endif %}">
        <div class="subtitle wrap bold margin-bottom-30 {% if is_mobile() and not is_tablet() %}padding-top-20{% else %}padding-top-50{% endif %}">CONGRATULATIONS&nbsp;!</div>
        <p>Your email is now confirmed. Welcome in the World’s Best Bars community!</p>
        <p class="padding-bottom-40">You can now save your favorite bars, leave tips and receive the latest news from World’s Best Bars.</p>
    </div>
</div>