<div id="success" class="min-height">
    <div class="{% if is_mobile() and not is_tablet() %}padding-top-20{% else %}padding-top-80{% endif %}">
        <div class="subtitle wrap bold margin-bottom-30 {% if is_mobile() and not is_tablet() %}padding-top-20{% else %}padding-top-80{% endif %}">CONGRATULATIONS&nbsp;!</div>
        <p class="padding-top-40 bold">Your email is now confirmed. Welcome in the World’s Best Bars community!</p>
        <p class="padding-bottom-40 bold">You can now save your favorite bars, leave tips and receive the latest news from World’s Best Bars</p>
    </div>
</div>