.search-result-proposal {
  position: absolute; background-color: $color-gray; width: 100%; z-index: 999;
  ul {
    li {
      font-size: 1.6em; color: $color-cream; border-bottom: 1px solid $color-dark-gray; @include transition( background 0.2s ease-in-out );
      &:hover{ background: $color-light-gray; .twelve.columns a{ color: $color-subtle-yellow } }
      .twelve.columns { height: auto;
        a { display: block; padding: 1.5em 0; padding-left: 15em;
          b { color: $color-subtle-yellow; }
        }
      }
    }
  }
}