$fonts: Avenir avenirltstd-roman normal normal avenir_lt_std55_roman,
        Avenir avenirltstd-heavy bold normal avenir_lt_std85_heavy;

@each $font in $fonts
{
  $family : nth($font, 1);
  $src    : nth($font, 2);
  $weight : nth($font, 3);
  $style  : nth($font, 4);
  $svg    : nth($font, 5);

  @font-face {
    font-family: "#{$family}";
    src: url('../fonts/#{$src}-webfont.eot');
    src: url('../fonts/#{$src}-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$src}-webfont.woff') format('woff'),
    url('../fonts/#{$src}-webfont.ttf') format('truetype'),
    url('../fonts/#{$src}-webfont.svg##{$svg}') format('svg');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

/* Load SVG for Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
  @each $font in $fonts
  {
    $family : nth($font, 1);
    $src    : nth($font, 2);
    $weight : nth($font, 3);
    $style  : nth($font, 4);
    $svg    : nth($font, 5);

    @font-face {
      font-family: "#{$family}";
      src: url('../fonts/#{$src}-webfont.svg##{$svg}') format('svg');
      font-weight: #{$weight};
      font-style: #{$style};
    }
  }
}