/* Grid Math
--------------------------------------------------- */
    $grid-column-margin:       1.1666666667%;
    $grid-one-column-width:    6%;

    $grid-two-column-width:    ($grid-one-column-width*2)+($grid-column-margin*2);
    $grid-three-column-width:  ($grid-one-column-width*3)+($grid-column-margin*4);
    $grid-four-column-width:   ($grid-one-column-width*4)+($grid-column-margin*6);
    $grid-five-column-width:   ($grid-one-column-width*5)+($grid-column-margin*8);
    $grid-six-column-width:    ($grid-one-column-width*6)+($grid-column-margin*10);
    $grid-seven-column-width:  ($grid-one-column-width*7)+($grid-column-margin*12);
    $grid-eight-column-width:  ($grid-one-column-width*8)+($grid-column-margin*14);
    $grid-nine-column-width:   ($grid-one-column-width*9)+($grid-column-margin*16);
    $grid-ten-column-width:    ($grid-one-column-width*10)+($grid-column-margin*18);
    $grid-eleven-column-width: ($grid-one-column-width*11)+($grid-column-margin*20);
    $grid-twelve-column-width: ($grid-one-column-width*12)+($grid-column-margin*22);

    $grid-offset-by-one:       ($grid-one-column-width*1)+($grid-column-margin*2);
    $grid-offset-by-two:       ($grid-one-column-width*2)+($grid-column-margin*4);
    $grid-offset-by-three:     ($grid-one-column-width*3)+($grid-column-margin*6);
    $grid-offset-by-four:      ($grid-one-column-width*4)+($grid-column-margin*8);
    $grid-offset-by-five:      ($grid-one-column-width*5)+($grid-column-margin*10);
    $grid-offset-by-six:       ($grid-one-column-width*6)+($grid-column-margin*12);
    $grid-offset-by-seven:     ($grid-one-column-width*7)+($grid-column-margin*14);
    $grid-offset-by-eight:     ($grid-one-column-width*8)+($grid-column-margin*16);
    $grid-offset-by-nine:      ($grid-one-column-width*9)+($grid-column-margin*18);
    $grid-offset-by-ten:       ($grid-one-column-width*10)+($grid-column-margin*20);
    $grid-offset-by-eleven:    ($grid-one-column-width*11)+($grid-column-margin*22);


/*  Base Fluid 1200 Max Grid
--------------------------------------------------- */
    .container                                  { position: relative; width: 96%; max-width: $grid-max-width; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: $grid-column-margin; margin-right: $grid-column-margin; }

    .container.full                             { width: 100%; max-width: $document-max-width }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: $grid-one-column-width; }
    .container .two.columns                     { width: $grid-two-column-width; }
    .container .three.columns                   { width: $grid-three-column-width; }
    .container .four.columns                    { width: $grid-four-column-width; }
    .container .five.columns                    { width: $grid-five-column-width; }
    .container .six.columns                     { width: $grid-six-column-width; }
    .container .seven.columns                   { width: $grid-seven-column-width; }
    .container .eight.columns                   { width: $grid-eight-column-width; }
    .container .nine.columns                    { width: $grid-nine-column-width; }
    .container .ten.columns                     { width: $grid-ten-column-width; }
    .container .eleven.columns                  { width: $grid-eleven-column-width; }
    .container .twelve.columns                  { width: $grid-twelve-column-width; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: $grid-offset-by-one; }
    .container .offset-by-two                   { padding-left: $grid-offset-by-two; }
    .container .offset-by-three                 { padding-left: $grid-offset-by-three; }
    .container .offset-by-four                  { padding-left: $grid-offset-by-four; }
    .container .offset-by-five                  { padding-left: $grid-offset-by-five; }
    .container .offset-by-six                   { padding-left: $grid-offset-by-six; }
    .container .offset-by-seven                 { padding-left: $grid-offset-by-seven; }
    .container .offset-by-eight                 { padding-left: $grid-offset-by-eight; }
    .container .offset-by-nine                  { padding-left: $grid-offset-by-nine; }
    .container .offset-by-ten                   { padding-left: $grid-offset-by-ten; }
    .container .offset-by-eleven                { padding-left: $grid-offset-by-eleven; }


/*  Mobile (Portrait)
--------------------------------------------------- */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: $grid-breakpoint-mobile) {

        .container { width: 100%; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns { width: 90%; margin-left: 5%; margin-right: 5% }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven, { padding-left: 0; }

    }


/* Clearing & Floats
--------------------------------------------------- */

    .float-left { float: left; }
    .float-right { float: right; }

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      height: 0;
    }