<div class="">
    <div class="text-align-center">
        <div class="subtitle text-transform-uppercase bold margin-bottom-40 margin-top-80">Thank you!</div>
        <p class="margin-bottom-40">The email is sent.</p>
    </div>
</div>