{% extends '::Email/layout.email.twig' %}

{% block subject %}Confirmation{% endblock %}
{% block title %}Confirmation{% endblock %}
{% block body_content %}
    <tr>
        <td class="container">
            <table class="wrap">
                <tr>
                    <td align="center">
                        <p style="margin-bottom: 35px">Hello {{ user.username }},</p>
                                    
                        <p style="margin-bottom: 35px">CONGRATULATIONS ! You are now registered on World’s Best Bars.<br/>
                        Please click on the link below to confirm your subscription: {{ confirmationUrl }}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}