{% extends '::Email/layout.email.twig' %}

{% block subject %}Confirmation{% endblock %}
{% block title %}Confirmation{% endblock %}
{% block body_content %}
    <tr>
        <td class="container" style="display: block !important; clear: both !important; overflow: hidden; margin-left: auto; margin-right: auto;">
            <table class="wrap" style="width: 100%;">
                <tr>
                    <td align="center" style="text-align: center">
                        <div class="subtitle" style="font-size: 22px!important; line-height: 22px!important; color: #b3955f; text-align: center; margin-bottom: 35px">CONGRATULATIONS!</div>
                        <p style="margin-bottom: 35px; line-height: 24px; font-family: Verdana, Arial; color: #818a8c; font-size: 15px;">
                            You are now registered on World’s Best Bars.<br/>
                            Please click on the link below to confirm your subscription:<br/> <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
