{% extends '::Email/layout.email.twig' %}

{% block subject %}Reset your password{% endblock %}
{% block title %}Reset your password{% endblock %}
{% block body_content %}
    <tr style="font-family: Verdana, Arial;">
        <td class="container" style="font-family: Verdana, Arial; display: block !important; max-width: 700px !important; clear: both !important; overflow: hidden; margin: 0 auto;">
            <table class="wrap" style="font-family: Verdana, Arial; width: 100%;">
                <tr style="font-family: Verdana, Arial;">
                    <td align="center" style="font-family: Verdana, Arial;">
                        <p style="margin-bottom: 35px; line-height: 24px; font-family: Verdana, Arial; color: #818a8c; font-size: 15px;">
                            Click on the link below to reset your password <br />
                            {{ confirmationUrl }}
                        </p>
                        <p style="margin-bottom: 35px; line-height: 24px; font-family: Verdana, Arial; color: #818a8c; font-size: 15px;">
                            Best regards
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}