{% extends '::Email/layout.email.twig' %}

{% block subject %}Reset your password{% endblock %}
{% block title %}Reset your password{% endblock %}
{% block body_content %}
    <tr>
        <td class="container">
            <table class="wrap">
                <tr>
                    <td align="center">
                        <p style="margin-bottom: 35px">Hello {{ user.username }},</p>

                        <p style="margin-bottom: 35px; line-height: 24px;">Click on the link below to reset your password <br />
                            {{ confirmationUrl }}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}