{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.type == 1 %}
            <strong>Special Features</strong>
        {% elseif object.type == 2 %}
            <strong>Style</strong>
        {% elseif object.type == 3 %}
            <strong>Best Cocktails</strong>
        {% elseif object.type == 4 %}
            <strong>With Who</strong>
        {% elseif object.type == 5 %}
            <strong>Mood</strong>
        {% elseif object.type == 6 %}
            <strong>Drink Brands</strong>
        {% endif %}
    </div>
{% endblock %}