<a target="_blank" class="btn btn-small view_link" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}"
   href="{{ path('wbb_semsoft_preview',{ssBarId: object.id}) }}">
    <i class="icon-zoom-in"></i>
    {{ 'action_show'|trans({}, 'SonataAdminBundle') }}
</a>
