.select2-container 												{position: relative; width: 100%; font: 16px "Avenir", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.select2-drop 													{z-index:99999999; box-shadow: 0 0 0 transparent;}
.select2-container .select2-choice 								{filter: progid:none!important; background-color: transparent; background-image: none; color: #b3955f; border: 1px solid #b3955f; border-radius: 20px; height: 40px; line-height: 40px; -webkit-box-shadow: none; box-shadow: none; text-decoration: none;}
.select2-container .select2-choice .select2-arrow 				{filter: progid:none!important; width: 40px; height: 40px; background: none; border: none;}
.select2-container .select2-choice .select2-arrow b 			{background: url("../images/sprite.png") no-repeat; background-size: 256px 512px; background-position: -162px 0; width: 40px; height: 40px;}
.select2-container.select2-dropdown-open .select2-choice 		{border-radius: 20px 20px 0 0; background-color: #fff; background-image: none; color: #b3955f; border-color: #6f7072;}
.select2-display-none 											{background-color: #faf3e1; color: #b3955f; border-color: #6f7072; border-radius: 0 0 20px 20px; border-top: none;}
.select2-search 												{padding: 0 10px;}
.select2-search input 											{text-indent: 10px; padding: 0; min-height: 30px; /*border-radius: 20px;*/ border: 1px solid #b3955f; line-height: 30px; height: 32px!important; color: #b3955f;}
.select2-results .select2-result-label 							{line-height: 27px;}
.select2-container.icon .select2-chosen 						{padding-left: 25px;}
.select2-container.icon .select2-chosen:before 					{content: ""; position: absolute; left: 10px; top: 0; display: block; height: 40px; width: 16px; background: url("../images/sprite.png") no-repeat; background-size: 256px 512px;}
.select2-container.icon.country .select2-chosen:before 			{background-position: -212px -2px;}
.select2-results .select2-highlighted 							{background-color: transparent; color: #7e613f;}
.select2-container.icon.country.select2-container-active .select2-chosen {color: #b3955f;}
.select2-results 												{width: 94%;}
.select2-results li 											{text-indent: 5px; font-size: 16px;}
.select2-drop.select2-drop-above 								{border-radius: 20px 20px 0 0; box-shadow: none!important; padding-top: 10px;}
.select2-container.select2-dropdown-open.select2-container-active.select2-drop-above .select2-choice {border-radius: 0 0 20px 20px;}
.select2-choice > .select2-chosen 								{padding-left: 10px;}
.select2-container.icon .select2-choice > .select2-chosen 		{padding-left: 25px;}
.select2-drop.select2-drop-above.select2-drop-active			{border-color: #b3955f;}
.select2-drop.select2-drop-above .select2-search input 			{margin-top: 10px;}
/*.select2-container.icon.country.select2-container-active .select2-chosen:before {background-position: -212px -42px;}*/

.select2-container.brown 										{}
.select2-container .select2-choice .select2-arrow b 			{background-position: -162px 0;}
.select2-container .select2-choice 								{color: #b3955f!important; border-color: #b3955f;}
.select2-container.select2-dropdown-open .select2-choice 		{background-color: #faf3e1; color: #b3955f; border-color: #b3955f;}
.select2-container.select2-dropdown-open .select2-choice.error 	{box-shadow: 0 0 0 transparent!important; margin: 0;}
.select2-display-none.white-style								{background-color: #faf3e1; color: #b3955f; border-color: #6f7072;}
.select2-container.with-icon.finder-city						{}
.select2-container.brown 										{}
.select2-container.with-icon .select2-chosen 					{text-align: left; padding-left: 25px;}
.select2-container.with-icon .select2-chosen:before				{width: 16px !important; height: 40px !important; position: absolute; left: 10px; top: 0;background-image: url("../images/sprite@2x.png"); background-size: 256px 512px; z-index: 1; content: ''; display: block;}

/* SPRITES */
.select2-container.finder-city .select2-chosen:before			{background-position: -212px 0px;}
.select2-container.with-icon.friend .select2-chosen:before 		{background-position: -12px -200px;}			

/* DARK STYLE */
.select2-drop.dark.select2-drop-above.select2-drop-active		{border-color: #6f7072;}
.select2-display-none.dark 										{background-color: #6f7072; color: #ffe4af; border-color: #6f7072;}
.select2-drop.dark .select2-results li							{color: #ffe4af;}
.select2-drop.dark .select2-results .select2-highlighted		{color: #fff;}
.select2-drop.dark input[type="text"] 							{background-color: transparent; color: #fff;}
.select2-container.select2-dropdown-open.dark .select2-choice 	{background-color: #6f7072; border-color: transparent;}
.select2-drop.dark .select2-results .select2-no-results	 		{background: transparent;}

/* SEARCH STYLE */
.select2-display-none.white-style ,
.select2-container.select2-dropdown-open.white-style .select2-choice {background-color: #fff; border-color: #b3955f;}