.bar-details .content p .see-more {
    display: block;
    text-align: center;
    margin-top: 1em;
}
.bar-details .content p .more {
    display: none;
}
.bar-details .content .trends li {
    line-height: 26px;
}
.bar-details .content aside .informations .contain .gmap .get-directions {
    position: relative;
    text-align: center;
    z-index: 99999;
    margin: 0 auto;
    margin-top: 33px;
    width: auto !important;
    height: auto !important;
    background-image: none !important;
    background-repeat: inherit !important;
    background-size: 0;
    background-position: inherit !important;
}
.ui-slider.type-bar-detail .image {
    width: 50%;
    height: 50%;
}
@media only screen and (max-width: 768px) {
    .bar-details .gallery .ui-slider .ui-slide .image {
        width: 33.33%;
        height: auto;
    }
}
.bar-details .content aside .informations .contain .gmap .get-directions .btn-small-radius {
    background: white;
    margin-top: inherit !important;
}

.fb-like {
    height: 20px;
    overflow: hidden;
}
.fb_edge_comment_widget {
    display: none !important;
}
.facebook_container {
    position:absolute;
}

.bar-details .gallery .loader {
    display:block;
}
.btn-round.star.active:before {
    background-position: -160px -240px !important;
}
.bar-filter .best-of-container{
    width: 33.3%;
    box-sizing: border-box;
    border-right: 0.6em solid rgba(0, 0, 0, 0);
    z-index: 40;
    float: left;
    height: 100%;
    border-bottom: 0.6em solid rgba(0, 0, 0, 0);
}
@media only screen and (max-width: 768px) {
    .bar-filter .best-of-container{
        width: 100%;
        border-right: 0 !important;
    }
    article.bar-wo-pic:hover {
        background: #faf3e1 !important;
    }
    article.bar-wo-pic:hover h2 {
        color: #333 !important;
    }
    article.bar-wo-pic:hover h3 {
        color: #B3955F !important;
    }
    article.bar-wo-pic .btn-round.star{
        background : #faf3e1 !important;
    }
    article.bar-wo-pic .btn-round.star.active, article.bar-wo-pic .btn-round.star:hover {
         border-color: transparent !important;
         background: transparent !important;
    }
    .bar-w-pic-list .three.columns {
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 50% !important;
    }
    .best-of-details .container.bars .four.columns:nth-child(3) {
        margin-top : 1em ;
    }
    /*.bar-w-pic .btn-round.star.active:before {
        background-position: -100px -80px;
    }
    section.bars .bar-w-pic .btn-round:before, section.bar-filter .bar-w-pic .btn-round:before {
        background-size: 128px 256px;
        background-position: -80px -40px;
    }*/
}
article.tip .form form .count.success {
    color: #B3955F;
}
article.bar-wo-pic .btn-round.brown:hover {
    background: transparent !important;
}
article.bar-wo-pic .txt h2 {
    padding-right: 20px;
}

.best-of-details .sub-header table{
    white-space: normal;
}
.bar-filter .filters {
    position: relative;
}
.bar-filter .disableClick {
    height: 100%;
    width: 100%;
    background: url(../images/blank.png) repeat;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.load-container .tip table {table-layout: fixed;}
.load-container .tip {
    word-wrap:break-word !important;
}
article.tip .content .author td img {
    margin-right: 1em;
    display: block;
    float: left;
}
article.tip .content .author b {
    display: block;
    color: #333;
    margin-top: 2px;
}



/*******
Added By Khalid
****/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 

    .heading input[type="text"] + input[type="submit"]{
        right: -1.4px !important;
    }

}

.heading input[type="text"] + input[type="submit"]:hover{
        background-color: white;
        background-position: -200px -200px;
    }

.heading input[type="text"] + input[type="submit"].active {
    background-color: #b3955f;
    background-position: -200px -240px;
}

section.bar-filter .container:nth-child(2) {
    min-height: 423px;
}

.sponsor-name {
    font-size: 1.6em;
}
.news-details .articles.older-news article.small:nth-of-type(3n+2) {
    margin-left: 2.7%;
    margin-right: 2.7%;
}

.nicescroll-rails{
    background : none repeat scroll 0 0 #fff;
    border : 1px solid #b3955f;

    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius : 10px !important;
    width: 14px !important;
    opacity: 1 !important;
    padding-bottom: 3px;
    margin-left: 10px;
}
.nicescroll-rails div{
    background : none repeat scroll 0 0 #b3955f;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius : 10px !important;
    cursor : pointer;
    width : 8px !important;
    position: relative !important;
    margin: 2px auto auto;
    left : -2px;

}
article.tip .content .excerpt td .scroll{
    width: 209px;
}