<div id="success" class="min-height" {% if is_mobile() and not is_tablet() %}style="min-height: 275px"{% endif %}>
    <div class="{% if is_mobile() and not is_tablet() %}padding-top-20{% else %}padding-top-100{% endif %}">
        <p class="padding-top-40">The more you refine your personal interests, the more we can adapt the editorial <br/>content & bar selections.</p>
        <p class="padding-bottom-40">Please complete your profile. It will only take a few minutes.</p>
    </div>
</div>
