/* Reset & Basics (Inspired by E. Meyers)
--------------------------------------------------- */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
    big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
    dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
    canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

    .entire-content{ width: 100%; overflow: hidden }
    .entire-content-scrollable{
      position: relative;
      //because of compass bug, set manually
      -webkit-transition: -webkit-transform 0.5s ease-in-out;
      -moz-transition: -moz-transform 0.5s ease-in-out;
      -o-transition: -o-transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out }

/* Full Width Container
--------------------------------------------------- */
    .full-cream { background-color: $color-cream; width: 100%; }


/* Vcenter
--------------------------------------------------- */
    .table { display: table; width: 100%; height: 100%;
      .td { display: table-cell; width: 100%; height: 100%; vertical-align: middle; }
    }


/* Cover
--------------------------------------------------- */
    .cover { overflow: hidden; height: 100%; width: 100%; left: 0; top: 0; position: absolute; z-index: -1; }
    .cover > * { position: relative; }

    a.overlay-link{ position: absolute; left: 0; width: 100%; top: 0; height: 100%; z-index: 21; img{ width: 100%; height: 100%; display: block} }
    html.mobile a.overlay-link{ display: none }

    .transform3d{ @include transition(transform 0.4s ease-in-out); backface-visibility: hidden; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -webkit-perspective: 1000; perspective: 1000; }
    .transform3d article > *{ backface-visibility: hidden; -webkit-backface-visibility: hidden }

/* More
--------------------------------------------------- */
    .more{ display: none }


/* Text Align
--------------------------------------------------- */
    .align-left    { text-align: left; }
    .align-center  { text-align: center; }
    .align-right   { text-align: right; }
    .align-justify { text-align: justify; }


/* Sizer
--------------------------------------------------- */
    img.sizer{ width: 100%; height: auto; display: block }


/* Basic Styles
--------------------------------------------------- */
	body {
      overflow-x: hidden;
      position: relative;
	  background: #fff;
	  font: 10px "Avenir", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	  color: $color-medium-gray;
	  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	  -webkit-text-size-adjust: 100%; }

    html{ height: 100% }


/* Form Button
--------------------------------------------------- */
    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
      background: none;
      padding: 0.5em 1.5em;
      border-radius: 2em;
      border: 1px solid $color-brown;
      color: $color-brown;
      display: inline-block;
      font-size: 1.4em;
      font-weight: normal;
      text-decoration: none;
      cursor: pointer;
      line-height: normal;
      outline: none;
      font-family: "Avenir", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

    /* Fix for odd Mozilla border & padding issues */
    button::-moz-focus-inner,
    input::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    form.dark
    {

      .button,
      button,
      input[type="text"],
      input[type="submit"],
      input[type="reset"],
      input[type="button"] {
        background: $color-gray;
        border: 0;
        color: $color-subtle-yellow;
        box-shadow: inset 0 1px 1px #000;
        @include placeholder{ color:$color-subtle-yellow }
      }
    }


    .button.large{ padding: 0.9em 2.8em }


/* Typography
--------------------------------------------------- */
	h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
      font-family: "Avenir", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: $color-dark-gray; margin: 0; padding: 0;
      a { font-weight: inherit; }
    }
    h1, h2, h3, h4, .h1, .h2, .h3, .h4 { line-height: 120% }
    p, .p { line-height: 150%; }
	h1, .h1 { font-size: 3em; text-transform: uppercase; font-weight: bold }
	h2, .h2 { font-size: 2em; }
	h3, .h3 { font-size: 1.6em; text-transform: uppercase; }
	h4, .h4 { font-size: 1.4em; }
    p { font-size: 1.6em; }

    aside p, aside .p { font-size: 1.4em }

    p img { margin: 0; }

	em { font-style: italic; }

    b { font-weight: bold; }

    strong { color: $color-dark-gray; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 1.7em; line-height: 140%; color: #777; font-style: italic; }
	blockquote { margin: 0 0 2em; padding: 1em 2em 0 2em; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 1.2em; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid $color-brown; border-width: 1px 0 0; clear: both; height: 0; }


/* Forms
--------------------------------------------------- */
    form{ position: relative }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea,
    select {
      resize: none;
      border: 1px solid $color-brown;
      padding: 7% 5%;
      width: 90%;
      outline: none;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      font: 1.4em "Avenir", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 150%;
      color: $color-medium-gray;
      margin: 0;
      background: #fff;
      @include transition(border 0.2s ease-in-out)
    }
    textarea{ overflow: auto }
    input[type="text"],
    input[type="password"],
    input[type="email"]{ border-radius:25px; padding: 0 5%; height: 40px; line-height: 40px; color:$color-brown; @include placeholder{ color: $color-brown } }
    input[type="submit"]{
      @include transition( background-color 0.2s ease-in-out);
      &:hover{ background-color: $color-brown }
    }

  input[type="text"].error,
  input[type="password"].error,
  input[type="email"].error,
  textarea.error{ border-color: $color-error }
  textarea.error:focus{ box-shadow: inset 0 0 2px $color-error }

    input[type="text"]::-ms-clear { display: none  }
    input[type="text"]+input[type="submit"]{
      border-radius: 0 25px 25px 0; position: absolute; top: 0; right: -2px; width: 40px; padding: 0; height: 42px; margin: 0;
      background: url('../images/sprite.png') no-repeat #fff; background-size: 256px 512px;  background-position: -200px -200px;
      &:hover{ background-position: -200px -240px; background-color: $color-brown }
    }
    form.dark input[type="text"]+input[type="submit"]{
      background: url('../images/sprite.png') no-repeat $color-gray; height: 40px; border-left:1px solid $color-dark-gray; box-shadow: none;
    }
    input[type="reset"]{
      border-radius: 50%; position: absolute; top: 4px; right: 4px; margin: 0; height: 34px; width: 34px; padding: 0;
      background: url('../images/sprite.png') no-repeat #fff; background-size: 256px 512px;  background-position: -124px -4px;
      @include transition( background-color 0.2s ease-in-out);
      &:hover{ background-position: -124px -44px; background-color: $color-brown }
    }
    select { padding: 0 }
    textarea:focus {
      @include box-shadow(inset 0 0 2px $color-brown) }
    textarea { min-height: 60px }
    label,
    legend {
      display: block;
      font-weight: bold;
      font-size: 13px;  }
    select {
      width: 220px; }
    input[type="checkbox"] {
      display: inline; }
    label span,
    legend span {
      font-weight: normal;
      font-size: 13px;
      color: #444; }
    input[type="submit"], input[type="button"]{ -webkit-appearance:none }


/* Links
--------------------------------------------------- */
    a { color: $color-brown; @include transition(color ease-in-out 0.2s); cursor: pointer }
	a, a:visited { text-decoration: none; outline: 0; }
	a:hover, a:focus { color: $color-brown-dark }


/* Images
--------------------------------------------------- */
	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* Margins & Paddings
--------------------------------------------------- */
	.remove-margin-bottom  { margin-bottom: 0 !important; }
	.xs-margin-bottom       { margin-bottom: $margin-padding-xs !important; }
	.s-margin-bottom       { margin-bottom: $margin-padding-s !important; }
	.m-margin-bottom       { margin-bottom: $margin-padding-m !important; }
	.l-margin-bottom       { margin-bottom: $margin-padding-l !important; }
    .xl-margin-bottom      { margin-bottom: $margin-padding-xl !important; }
    .xxl-margin-bottom     { margin-bottom: $margin-padding-xxl !important; }

    .remove-margin-top     { margin-top: 0 !important; }
    .xs-margin-top          { margin-top: $margin-padding-xs !important; }
    .s-margin-top          { margin-top: $margin-padding-s !important; }
    .m-margin-top          { margin-top: $margin-padding-m !important; }
    .l-margin-top          { margin-top: $margin-padding-l !important; }
    .xl-margin-top         { margin-top: $margin-padding-xl !important; }
    .xxl-margin-top        { margin-top: $margin-padding-xxl !important; }

    .remove-margin         { margin-top: 0px !important; margin-bottom: 0px !important; }
    .xs-margin              { margin-top: $margin-padding-xs !important; margin-bottom: $margin-padding-xs !important; }
    .s-margin              { margin-top: $margin-padding-s !important; margin-bottom: $margin-padding-s !important; }
    .m-margin              { margin-top: $margin-padding-m !important; margin-bottom: $margin-padding-m !important; }
    .l-margin              { margin-top: $margin-padding-l !important; margin-bottom: $margin-padding-l !important; }
    .xl-margin             { margin-top: $margin-padding-xl !important; margin-bottom: $margin-padding-xl !important; }
    .xxl-margin            { margin-top: $margin-padding-xxl !important; margin-bottom: $margin-padding-xl !important; }

    .remove-padding-bottom { padding-bottom: 0 !important; }
    .xs-padding-bottom      { padding-bottom: $margin-padding-xs !important; }
    .s-padding-bottom      { padding-bottom: $margin-padding-s !important; }
    .m-padding-bottom      { padding-bottom: $margin-padding-m !important; }
    .l-padding-bottom      { padding-bottom: $margin-padding-l !important; }
    .xl-padding-bottom     { padding-bottom: $margin-padding-xl !important; }
    .xxl-padding-bottom    { padding-bottom: $margin-padding-xxl !important; }

    .remove-padding-top    { padding-top: 0 !important; }
    .xs-padding-top         { padding-top: $margin-padding-xs !important; }
    .s-padding-top         { padding-top: $margin-padding-s !important; }
    .m-padding-top         { padding-top: $margin-padding-m !important; }
    .l-padding-top         { padding-top: $margin-padding-l !important; }
    .xl-padding-top        { padding-top: $margin-padding-xl !important; }
    .xxl-padding-top       { padding-top: $margin-padding-xxl !important; }

    .remove-padding        { padding-top: 0px !important; padding-bottom: 0px !important; }
    .xs-padding             { padding-top: $margin-padding-xs !important; padding-bottom: $margin-padding-xs !important; }
    .s-padding             { padding-top: $margin-padding-s !important; padding-bottom: $margin-padding-s !important; }
    .m-padding             { padding-top: $margin-padding-m !important; padding-bottom: $margin-padding-m !important; }
    .l-padding             { padding-top: $margin-padding-l !important; padding-bottom: $margin-padding-l !important; }
    .xl-padding            { padding-top: $margin-padding-xl !important; padding-bottom: $margin-padding-xl !important; }
    .xxl-padding           { padding-top: $margin-padding-xxl !important; padding-bottom: $margin-padding-xl !important; }


  /* Scroll
  --------------------------------------------------- */
  .nicescroll-rails
  {
    border-radius: 10px; border: 1px solid $color-brown;
    > div { background: $color-brown!important }
  }

  /* Buttons
  --------------------------------------------------- */
  .btn-radius {
    display: inline-block; padding: 0.8em 1.2em; border-radius: 2em; line-height: 1em; white-space: nowrap;
    @include transition(background ease-in-out 0.2s, color ease-in-out 0.2s, border ease-in-out 0.2s);
    &.border { border: 1px solid; }
    &.with-icon{
      position: relative; padding-left: 2.7em; padding-right: 2em;
      &:after, &:before{
        position: absolute!important; top: 50%!important; margin-top: -20px; left: 1.2em!important; width: 16px!important;
        height: 40px!important;
      }
    }
  }

  .btn-small-radius {
    display: inline-block; padding: 0.5em 1em; border-radius: 2em; line-height: 1em; @include transition(background ease-in-out 0.2s, color ease-in-out 0.2s, border ease-in-out 0.2s);
    &.border { border: 1px solid; }
  }

  .btn-round {
    display: inline-block; width: 40px; height: 40px; border-radius: 50%; border: 1px solid; position: relative;
  }

  .btn-small-round { display: inline-block; border-radius: 50%; border: 1px solid #000; width: 30px; height: 30px; position: relative }

  .btn-small-round, .btn-round, .btn-radius.with-icon {
    @include transition(background ease-in-out 0.2s, color ease-in-out 0.2s, opacity ease-in-out 0.2s, border ease-in-out 0.2s);
    &:hover:after, &.active:after{ opacity: 1 }
    .active:after{ opacity: 1 }
  }
  .btn-small-round, .btn-round, .btn-radius.with-icon {
    &:after, &:before{
      position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url("../images/sprite.png") no-repeat center;
      background-size: 256px 512px; z-index: 1; content: ''; display: block; @include transition(opacity ease-in-out 0.2s);
    }
    &:after{ z-index: 2; opacity: 0 }
  }



  /* Colors
  --------------------------------------------------- */
  .color-brown          { color: $color-brown; }
  .color-brown-dark     { color: $color-brown-dark; }
  .color-subtle-yellow  { color: $color-subtle-yellow; }
  .color-cream          { color: $color-cream; }
  .color-dark-gray      { color: $color-dark-gray; }
  .color-medium-gray    { color: $color-medium-gray; }



  @media only screen and (max-width: $grid-breakpoint-mobile) {

    body{ font-size: 10px!important; height: 100% }
    h1, .h1{ font-size: 2.5em }

    .btn-radius.brown.load-more:hover
    {
        background: transparent!important; color: $color-brown!important;
    }
  }