/* Size
--------------------------------------------------- */
    $footer-height :        105px;
    $document-max-width :   1280px;


/* Grid
--------------------------------------------------- */
    $grid-max-width:           1200px;
    $grid-breakpoint-mobile:   767px;

/* Colors
--------------------------------------------------- */
    $color-brown:         #b3955f;
    $color-subtle-yellow: #ffe4af;
    $color-cream:         #faf3e1;
    $color-dark-gray:     #333333;
    $color-medium-gray:   #818a8c;

/* Margins
--------------------------------------------------- */
    $margin-padding-s:   15px;
    $margin-padding-m:   25px;
    $margin-padding-l:   50px;
    $margin-padding-xl:  75px;
    $margin-padding-xxl: 100px;