/* Footer
--------------------------------------------------- */

    footer {
      width: 100%; background-color: $color-dark-gray;
      .left, .right{ height: $footer-height }
      .left { float: left;

        nav {
          a { color: $color-subtle-yellow; margin-right: 1em; position: relative }
          a+a:before{ font-size: 0.6em; padding: 0 0.8em; color: $color-subtle-yellow; content: '•'; position: absolute; left: -2em; }
          a:hover{ color: $color-brown }
        }

        .copy { margin-top: 1.5em; color: $color-subtle-yellow; }

      }

      .right { float: right; color: $color-subtle-yellow;

        .social-icons,
        .keep-in-touch { border-left: 1px solid #5c5549; height: 100%; padding:0 3em; }

        .social-icons {
          float: left; height: 100%;
          a { padding:0 1em; @include transition( opacity 0.2s ease-in-out); img{ background-size: 100% 100%; background-position: center; background-repeat: no-repeat} }
          a:hover { @include opacity(0.5) }
          .facebook img{ background-image: url("../images/icons/facebook.yellow.png") }
          .twitter img{ background-image: url("../images/icons/twitter.yellow.png") }
          .instagram img{ background-image: url("../images/icons/instagram.yellow.png") }
          .pinterest img{ background-image: url("../images/icons/pinterest.yellow.png") }
        }

        .keep-in-touch {
          float: left; text-align: right; border-left: 1px solid #5c5549; padding-right: 0;
          h3 { color: $color-subtle-yellow; font-weight: bold; text-align: center }
          .fb-like{ display: inline-block!important; width: auto!important }
          .fb-like, iframe{ vertical-align: middle; margin: 0 2px }
        }


      }
    }