.btn-small-radius, .btn-round, .btn-radius, .btn-small-round{

  &.brown{ color: $color-brown; border-color: $color-brown }
  &.brown.active{ color: $color-cream; border-color: $color-cream }
  &.brown:hover{ background: $color-brown!important; color: $color-cream; border-color: $color-brown }

  &.dark{ color: $color-dark-gray; background: $color-dark-gray; opacity: 0.8 }
  &.dark:hover{ opacity: 1 }
}

.btn-round{

  &.star{
    &:before{ background-position: 0 0 }
    &:after{ background-position: 0 -40px }
  }

  &.dark.star{
    &:before{ background-position: -160px -80px }
    &:after{ display: none }
  }

  &.dark.star.active{
    opacity: 1;
    &:before{ background-position: -200px -160px }
  }

  &.share{
    &:before{ background-position: -40px 0 }
    &:after{ background-position: -40px -40px }
  }

  &.foursquare{
    &:before{ background-position: -120px -80px }
    &:after{ display: none }
  }

  &.instagram{
    &:before{ background-position: -80px -80px }
    &:after{ display: none }
  }

  &.close{
    &:before{ background-position: -120px -0px }
    &:after{ background-position: -120px -40px }
  }

}

.btn-radius.with-icon{

  &.place{
    &:before{ background-position: -212px -0px }
    &:after{ background-position: -212px -40px }
  }

  &.friend{
    &:before{ background-position: -12px -200px }
    &:after{ background-position: -12px -240px }
  }

  &.chillout{
    &:before{ background-position: -52px -200px }
    &:after{ background-position: -52px -240px }
  }

  &.casual{
    &:before{ background-position: -92px -200px }
    &:after{ background-position: -92px -240px }
  }

  &.party{
    &:before{ background-position: -132px -200px }
    &:after{ background-position: -132px -240px }
  }
}

.btn-small-round{

  &.www{
    &:before{ background-position:-5px -125px }
    &:after{ background-position: -5px -165px }
  }

  &.twitter{
    border-color: #00c3f3;
    &:hover{ background: #00c3f3 }
    &:before{ background-position:-45px -125px }
    &:after{ background-position: -45px -165px }
  }

  &.facebook{
    border-color: #2960a3;
    &:hover{ background: #2960a3 }
    &:before{ background-position:-85px -125px }
    &:after{ background-position: -85px -165px }
  }
}

.finder-close{
  &:before{ background-position:-160px -120px }
}