body.cities {
  overflow-y: scroll;
  .cities-content{
    position: relative; min-height: 400px;
    #map{
      width: 100%; height: 100%;
      .label{
        background: url("../images/misc/bar-overlay.png") no-repeat center; background-size: 100% 100%;
        font-family: "Avenir", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; position: relative;
        font-size: 16px; padding: 20px; padding-left: 35px; color: #333; width: 380px; height: 128px; z-index: 9999;
        b{ display: block; font-size: 20px; margin-bottom: 0.4em; color: $color-brown; text-transform: uppercase }
        img{ width: 45%; margin-right: 5%; height: auto; float: left }
        span{
          font-size: 14px; color: #666; padding-left: 2em; padding-top: 0.2em; position: absolute; bottom: 0; left: 50%; right: 20px; margin-left: 10px; margin-bottom: 20px;
          &:before{
            content: ''; display: block; position: absolute; left: 0; top: 2px; width: 16px; height: 16px;
            background: url("../images/icons/tag-gray.png") center no-repeat; background-size: 100% auto
          }
        }
        &.left{ left: -490px; background-image: url("../images/misc/bar-overlay-flip.png"); padding-right: 35px; padding-left: 20px }
      }
      .cluster{ background: url("../images/map.pin.png") no-repeat center; width: 20px; height: 30px; background-size: 100% auto }
    }
    .zoom{
      position: absolute; right: 3%; top: 50%; margin-top: -23px; background: $color-brown; border-radius: 25px; padding: 2px; padding-bottom: 0;
      a{ background-color: $color-cream }
    }
    .selector{
      position: absolute; left: 3%; top: 10%; bottom: auto; overflow: hidden; width: 23em; background: #fff; border: 10px solid $color-cream;
      padding: 25px; @include transition( height 0.3s );
      h3{ color: $color-brown }
      form{
        input[type=reset]{ display: none }
      }
      .ui-dropdown-container{ font-size: 1.4em; width: 100%!important; margin-top: 0.5em }
      .scrolls{
        display: none;
        .scroll ul{ font-size: 1.4em; line-height: 180% }
        .scroll-cities{
          overflow: auto; margin-left: 1em;
          li{ cursor: pointer; @include transition( color 0.2s ease-in-out )}
          li:hover{ color: $color-brown }
        }
        .scroll-bars{
          margin-top: 1em; display: none;
          a{ display: inline-block; vertical-align: top }
          ul{ list-style: decimal inside; color:$color-brown }
          b{ font-weight: normal; color: #333 }
          span{ color: #666; font-size: 90% }
          li{ border-top: 1px solid #999; padding: 0.7em 0.5em; @include transition(0.2s ease-in-out); cursor: pointer }
          li:hover, li.active{ border-top-color: $color-cream; background: $color-cream }
          li:hover+li, li.active+li{ border-top-color: $color-cream }
          li:first-child{ border-top:0 }
        }
        .scroll-cities{
          li.active{ color: $color-brown }
        }
      }

    }
  }


  @media only screen and (max-width: $grid-breakpoint-mobile) {
    .cities-content{
      min-height:inherit;
      .zoom{ left: 20px; right: auto; bottom: 20px; top: auto; margin-top: 0 }
      .selector{
        border: 0; padding: 0; top: 0; left: 0; width: 100%; box-sizing: border-box; bottom: auto; z-index: 1;
        .heading{ padding: 1em }
        form.s-margin{ margin-top: 5px!important }
        h3{ display: none }
        .scrolls{
          display: none; padding: 10px; background: $color-cream;
          .scroll ul{ line-height: 250% }
          .scroll li{ padding-left: 10px }
          .scroll-cities li{ color: $color-brown }
          .scroll-cities, .scroll-bars{ padding: 0; margin: 0 }
          .scroll-bars ul{ line-height: 180%; }
          .scroll-bars li:hover{ background: #fff }
        }
        .heading{ text-align: center }
        .ui-radio.btn-radius.with-icon{ width: auto; color: $color-brown; padding-right: 1.2em!important; font-size: 1.4em; padding-left: 2.5em!important; }
        .ui-radio.btn-radius.with-icon.active, .ui-radio.btn-radius.with-icon:hover{ color: $color-cream }
        .ui-dropdown-container{ margin-bottom: 15px }
      }
      #map{ top: 118px }
    }
  }
}

html.mobile body.cities .cities-content .zoom a:hover{ background-color: $color-cream!important; &:after{ display: none } }
