<div id="success" class="min-height">
    <div class="{% if is_mobile() and not is_tablet() %}padding-top-20{% else %}padding-top-80{% endif %}">
        <div class="subtitle wrap bold margin-bottom-30 {% if is_mobile() and not is_tablet() %}padding-top-20{% else %}padding-top-80{% endif %}">Congratulations !</div>
        <p>Your tip is currently been moderated.</p>
    </div>
</div>