{% extends "::base.html.twig" %}
{% block meta %}
    <meta name="description" content="World Best Bars"/>{% endblock %}
{% block title %}World Best Bars{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            initializeSliders();
            $(".older-news article").hide();
            {% if not is_mobile() or is_tablet() %}
                $(".older-news article:lt(3)").show();
            {% endif %}
            if($('.older-news article').length>3)
                $(".load-more-container").show();
            else
                $(".load-more-container").hide();
            var display;
            $(".load-more").click(function(){
                display = $('.older-news article:visible').length+3;
                $(".older-news article:lt("+display+")").fadeIn(500);
                if($('.older-news article:hidden').length<=0){
                    $('.load-more-container').hide();
                }
                
                UTILS._cover();
                UTILS._resizeCover();
            });
            $(".footer-ad:eq(1)").css('display', 'none');
            
                {% if city is defined and city != '' %}
                    $('.sub-header .selected').text('{{city}}')
                {% endif %}
                
            });
    </script>
    <style type="text/css">
        .footer-ad:last-child {
            display: none !important;
        }
        .older-news article {
            display: none;
        }
        {% if is_mobile() and not is_tablet() %}
            .articles.padding article.small + article.small {
                margin-left: 0!important;
            }
        {% endif %}
    </style>
{% endblock %}
{% block bodyTag %}
<body class="news">
{% endblock %}
{% block body %}
    {% block landingNewsTop %}
    <div class="full-cream l-padding-bottom">
        <!-- SUBHEADER -->
        <div class="container  {% if is_mobile() and not is_tablet() %} mobile-device {% endif %}">

            <section class="sub-header">

                {% if not is_mobile() or is_tablet() %}
                    <table>
                        <tr>
                            <td>
                                {% include "WBBBarBundle:UI:citys_selector.html.twig"  with { 'from' : 'news' } %}
                            </td>

                            <td class="title">
                                <h1>{% if not city %} The {% endif %} Latest News {% if city is defined and city != '' %}
                                in {{ city }}
                                {% endif %}
                                </h1>
                            </td>

                            <td></td>
                        </tr>
                    </table>
                {% else %}
                    <h1>Discover the World’s Best Bars</h1>
                {% endif %}
            </section>
        </div>
        <!-- LATEST NEWS -->
        <div class="container full">

            <section class="bars">
                {% if not is_mobile() or is_tablet() %}
                <div class="ui-slider type-bar has_sizer arrows dots" data-size="12x3" data-display="3">
                {% else %}
                    <div class="ui-slider type-bar has_sizer arrows dots" data-size="4x3" data-display="1">
                {% endif %}
                    {% for n in latest %}
                        <div class="ui-slide">
                            {% include "WBBBarBundle:News/blocks:thumb_article.html.twig" with { 'n' : n , 'secand_media' : true } %}
                        </div>
                    {% endfor %}
                    </div>
            </section>
        </div>
    </div>
    {% endblock %}

    <!-- EDITOR'S PICK -->
    {% if is_mobile() and not is_tablet() %}
        {% include "WBBBarBundle:News/blocks:editors_pick_mobile.html.twig"  with { 'articles' : articles , 'interviews' : interviews, 'newsList' : newsList, 'bigAd' : bigAd } %}
    {% else %}
        {% include "WBBBarBundle:News/blocks:editors_pick_desktop.html.twig"  with { 'articles' : articles , 'interviews' : interviews, 'newsList' : newsList } %}
    {% endif %}
    
        <div class="twelve columns align-center l-margin-bottom load-more-container">
            <a class="h4 btn-radius border load-more brown large" href="#0">Older news</a>
        </div>
{% endblock %}

