{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div id="success" class="min-height padding-top-100">
	<div class="text-align-center padding-top-100">
		<!-- <div class="title margin-bottom-20 wrap bold">FORGOT YOUR PASSWORD</div> -->
		<p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
	</div>
</div><!-- #success -->
{% endblock %}
