{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div id="success" class="min-height {% if is_mobile() and not is_tablet() %}padding-top-20{% else %}padding-top-100{% endif %}" {% if is_mobile() and not is_tablet() %}style="min-height: 300px"{% endif %}>
	<div class="text-align-center padding-top-100">
		<!-- <div class="title margin-bottom-20 wrap bold">FORGOT YOUR PASSWORD</div> -->
		<p{% if not is_mobile() %} class="margin-top-20"{% endif %}>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
	</div>
</div><!-- #success -->
{% endblock %}
