{% trans_default_domain 'FOSUserBundle' %}

<div id="success" class="text-align-center min-height padding-top-100">
    <div class="title padding-top-100 margin-bottom-30 wrap bold">FORGOT YOUR PASSWORD</div>
    <p class="margin-top-20 padding-bottom-80">You have just received an email</p>
</div>
