<div id="success" class="min-height" {% if is_mobile() and not is_tablet() %}style="min-height: 340px"{% endif %}>
    
    <div class="{% if is_mobile() and not is_tablet() %}padding-top-20{% else %}padding-top-100{% endif %}">
        
        <div class="subtitle wrap bold margin-bottom-30 {% if is_mobile() and not is_tablet() %}margin-top-80{% else %}margin-top-50{% endif %}">CONGRATULATIONS !</div>
        <p class="bold margin-top-50">You have changed your password</p>

    </div>

</div>

<script>
    $(document).ready(function() {
        $.cookie('just_loggedin', true);
        $('.btn-close').on('click', function() {
            window.location.href = "{{ path('homepage') }}";
        });
        $('.mask').on('click', function() {
            window.location.href = "{{ path('homepage') }}";
        });
    });
</script>