<div id="success" class="min-height">
    <div class="{% if is_mobile() and not is_tablet() %}padding-top-20{% else %}padding-top-50{% endif %}" {% if is_mobile() and not is_tablet() %}style="min-height: 345px"{% endif %}>
        <div class="subtitle wrap bold margin-bottom-30 margin-top-80">CONGRATULATIONS !</div>
        <p class="bold margin-top-50">You have changed your password</p>
    </div>
</div>

<script>
    $(document).ready(function() {
        $.cookie('just_loggedin', true);
        $('.btn-close').on('click', function() {
            window.location.href = "{{ path('homepage') }}";
        });
        $('.mask').on('click', function() {
            window.location.href = "{{ path('homepage') }}";
        });
    });
</script>