<div class="min-height">
	<div class="padding-top-100">
		<div class="title wrap bold margin-bottom-30 margin-top-80">Reset password</div>
		<div class="subtitle text-transform-uppercase bold margin-top-50">Congratulations ! You have changed your password</div>
	</div>
</div>

<script>
    $(document).ready(function() {
        $('.btn-close').on('click', function() {
            window.location.href = "{{ path('homepage') }}";
        });
        $('.mask').on('click', function() {
            window.location.href = "{{ path('homepage') }}";
        });
    });
</script>