<div id="success" class="text-align-center min-height padding-top-80">
    <div class="subtitle text-transform-uppercase margin-top-80">Congratulations!</div>
    <p class="margin-top-20 margin-bottom-20">You have changed your password</p>
</div>

<script>
    $(document).ready(function() {
        $.cookie('just_loggedin', true);
        $('.btn-close').on('click', function() {
            window.location.href = "{{ path('homepage') }}";
        });
        $('.mask').on('click', function() {
            window.location.href = "{{ path('homepage') }}";
        });
    });
</script>