.articles article{
  border: 1px solid $color-brown; float: left; text-align: center; @include box-sizing(border-box);
  h2 { text-transform: uppercase; font-weight: bold;
    a{ color: $color-dark-gray; &:hover{ color: $color-brown }
    }
  }
  h1 { text-transform: none; }
  p, h2, h1 { padding: 0 6%; }
  .img {
    position: relative; width: 100%; height: 70%;
    .cover{
      position: absolute; top: -2px; left: -2px; right: -2px; bottom: 0; z-index:1; width:auto; height:auto;
      opacity : 0.8; @include transition( opacity 0.2s ease-in-out ); @include reduceFlickering();
      img{ width: 100%; height: auto; display: block }
      &:hover{ opacity : 1 }
    }
    .plus-btn { position: absolute; margin-left: -2em; bottom: -2em; left: 50%; z-index: 2 }
  }
  .title { position: relative; width: 100%; height: 100%; }
  .img+.title{ height: 30% }
  .img+.title p{ margin-bottom: 0!important }
  .plus-btn {
    width: 4em; height: 4em; background: #fff; border-radius: 50%; text-align: center; display: inline-block;
    border: 1px solid $color-brown; box-shadow: 0 0 0 4px #fff; position: relative; @include transition( background 0.2s ease-in-out );
    &:after, &:before{ position: absolute; content:''; @include transition( background 0.2s ease-in-out ); }
    &:after{ width: 1px; height: 50%; top: 25%; left: 50%; background: $color-brown }
    &:before{ height: 1px; width: 50%; left: 25%; top: 50%; background: $color-brown; margin-top: -1px }
    &:hover{ background: $color-brown }
    &:hover:after, &:hover:before{ background: #fff }
  }
}

.articles {
  article.small { width: 50%; height: 40em;
    &+article.small { border-left: 0;
      +article.large { border-top: 0; }
    }
  }
  article.large { width: 100%; height: 80em; }
  &.padding article {
    &.large { margin-top: 4%;
      &:first-of-type { margin-top: 0; }
    }
    &.small { width: 48%; height: 40em; margin-top: 4%;
      &+article.small { margin-left: 4%; border-left: 1px solid $color-brown; }
    }
  }
  &.four.columns {
    .side-ad { margin-top: 0!important; }
    article { width: 100%; margin-top: 8%;
      &:first-of-type { margin-top: 8%; }
      &.large { height: 40em; }
      &.small { height: 17.5em;
        .plus-btn { margin-top: $margin-padding-m; }
      }
    }
  }
  &.older-news article.small { width: 31.5%;
    &+article.small { border-left: 1px solid $color-brown; }
    &:nth-of-type(3n+2) { margin-left: 2.5%; margin-right: 2.5%; }
  }
}

@media only screen and (max-width: $grid-breakpoint-mobile) {

  .articles article p{ height: 9em; overflow: hidden; text-overflow: ellipsis }
  .articles article .img+.title p{ display: none }

  .articles article.small,
  .articles article.large { width: 100%; height: 35em }

  .articles article.small+article.small { border-left: 1px solid $color-brown; border-top: 0; }
}