.bar-w-pic-list { width: 100%; float: left;
  h2 { color: $color-brown; text-transform: uppercase; font-weight: bold; }
  h3 { text-transform: none; }
  .nine.columns {
    .tags { font-size: 1.4em; color: $color-medium-gray;
      &:before{ content: ''; display: inline-block; width: 16px; height: 16px; margin-right: 10px; background: url("../images/icons/tag-gray.png") center no-repeat; background-size: 100% auto; }
    }
  }
  .separator { position: relative; top: -6px; }
}