.bar-w-pic-list {
  width: 100%; float: left; position: relative;
  h2 { text-transform: uppercase; font-weight: bold; a{color: $color-brown} }
  h3 { text-transform: none; a{color: $color-dark-gray} }
  .nine.columns {
    .tags { font-size: 1.5em; color: $color-medium-gray; position: absolute; bottom: 1.5em; left: 25%;  margin-left: 1.16667%;
      &:before{ margin-bottom: 10px; vertical-align: middle; content: ''; display: block; float: left; width: 16px; height: 16px; margin-right: 10px; background: url("../images/icons/tag-gray.png") center no-repeat; background-size: 100% auto; }
    }
  }
  .separator { position: absolute; bottom: 0; left:23.9%; right:1.16667%; hr{ padding: 0; margin: 0 } }
  .scale-with-grid{ opacity : 1!important; border:0!important }
}

@media only screen and (max-width: $grid-breakpoint-mobile) {
  .bar-w-pic-list
  {
    h3{ margin-top: 0!important }
    .columns.s-margin-top{ margin-top: 0!important }
    .three.columns{ margin-left: 0; margin-right: 0; width: 50% }
    .nine.columns{
      margin-left: 3%; margin-right: 0; width: 47%; font-size: 75%;
      .tags{ left: 50%; margin-left: 3%; margin-right: 3% }
    }
    .separator{ left: 50%; bottom: 1px }
    p{ display: none }
    .bar-w-pic{ width: 100%; float: none }
  }
}