section.bar-finder { background-color: #4b4d4e; width: 100%; white-space: nowrap;

  .twelve { display: none; }

  .finder-arrow { @include opacity(0); position: absolute; right: 30.5em; top: 0; }
  .finder-close {
    @include opacity(0); position: absolute; right: 0; top: 0; width: 40px; height: 40px; background-color: $color-medium-gray; @include border-radius(0 0 50% 50%);
    background-image: url("../images/sprite.png"); background-size: 256px 512px; background-position: -160px -120px; @include transition( border 0.2s ease-in-out ); border-top: 0 solid $color-medium-gray;
    &:hover{ border-top: 6px solid $color-medium-gray }
  }
  .go { background-color: $color-brown; color: $color-cream }

  table {
    height: 7.5em; margin: 3em 0; text-align: center; @include opacity(0);
    h2, h3, .h3 { color: $color-brown; }
    h2 { font-weight: bold; text-transform: uppercase; line-height: 1.2em; }
    .h3 { text-transform: none; }

    tr:nth-child(2) td { text-align: center; }

    tr:nth-child(2) td,
    tr:nth-child(1) td:nth-child(1) { vertical-align: middle; }

    tr:nth-child(1) td:nth-child(2) { height: 100%; }
    tr:nth-child(1) td:nth-child(1) { width: 100%; text-align: left }

    tr:nth-child(2) td:nth-child(2),
    tr:nth-child(2) td:nth-child(4) { padding: 2em; }

    tr:nth-child(2) td:nth-child(6) { padding: 1em; }

    tr:nth-child(2) td:nth-child(8) { padding-left: 2em; }
  }
}