section.bar-finder { background-color: #4b4d4e; width: 100%; white-space: nowrap;

  .twelve { display: none; }

  .finder-arrow { @include opacity(0); position: absolute; right: 30.5em; top: 0; }
  .finder-close {
    @include opacity(0); position: absolute; right: 0; top: 0; width: 40px; height: 40px; background-color: $color-medium-gray; @include border-radius(0 0 50% 50%);
    background-image: url("../images/sprite.png"); background-size: 256px 512px; background-position: -160px -120px; @include transition( border 0.2s ease-in-out ); border-top: 0 solid $color-medium-gray;
    &:hover{ border-top: 6px solid $color-medium-gray }
  }
  .btn-radius.with-icon{
    padding-right: 1.2em; padding-left: 2.4em;
    &:before,&:after{ left: 0.8em!important; top: 20px!important }
  }
  .ui-radio.btn-radius.with-icon{
    padding-left: 2.2em;
  }
  .ui-dropdown.btn-radius.with-icon{
    padding-right: 1em; font-size: 1.5em;
    span{ height: 40px; line-height: 40px }
  }
  .ui-radio{ height: 40px; line-height: 40px }
  .go { padding: 0; background-color: $color-brown; color: $color-cream; height: 40px; line-height:40px; width: 60px; @include transition( border 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out)  }
  .go:after, .go:before { display: none }
  .go:hover { background-color: $color-subtle-yellow!important; color: $color-brown; border-color: $color-subtle-yellow!important; }

  table {
    height: 7.5em; margin: 3em 0; text-align: center; @include opacity(0);
    h2, h3, .h3 { color: $color-brown; }
    h2 { font-weight: bold; text-transform: uppercase; line-height: 1.2em; }
    h3 { font-size: 1.4em; margin-bottom: 0.5em }
    .ui-dropdown, .ui-radio, input[type=submit] { font-size: 1.6em }

    tr:nth-child(2) td { text-align: center; }

    tr:nth-child(2) td,
    tr:nth-child(1) td:nth-child(1) { vertical-align: middle; }

    tr:nth-child(1) td:nth-child(2) { height: 100%; }
    tr:nth-child(1) td:nth-child(1) { width: 20.8em; text-align: left }

    tr:nth-child(2) td:nth-child(2),
    tr:nth-child(2) td:nth-child(4) { padding: 2em; }

    tr:nth-child(2) td:nth-child(6) { padding: 1em; }

    tr:nth-child(2) td:nth-child(8) { padding-left: 2.5em; }
  }
}