.sub-header {
  white-space: nowrap; width: $grid-twelve-column-width; padding-top: 40px; padding-bottom: 30px; margin: auto;
  table { width: 100%;
    tr td { vertical-align: middle; }
    tr td:nth-child(1), td:nth-child(3) { width: 25%; }
  }

  .city-selector {
    color: $color-brown; text-transform: none; letter-spacing: -0.01em;
    .btn-radius { margin-left: 1em }
    .ui-dropdown-container{
      display: inline-block;vertical-align: middle;
      .btn-radius {
        margin-left: 0.5em; padding-left: 2.2em; padding-right: 0.5em; background: none; width: 170px;
        span{
          font-size: 95%; height: 34px; line-height: 34px;
          &:before, &:after{ right: -10px }
        }
        &:before{ left: 0.8em!important; top: 18px!important }
        &:after{ display: none }
      }
     }
    select{ width: auto }
  }
  .title { text-align: center;
    h1 { font-weight: bold; }
    h3 { text-transform: none; margin-top: 0.25em; color: $color-medium-gray; }
  }

  .star-share {color: $color-brown; text-align: right;.btn-round { margin-left: 1em; }
  }
}

@media only screen and (max-width: $grid-breakpoint-mobile) {

  .sub-header {
    padding: 20px 0; white-space: normal; text-align: center; width: 90%;
    table tr { display: block; width: 100%;
      td { display: block; width: 100%!important; }
    }
  }

  .sub-header {
    .star-share { margin-top: 2.5em; text-align: center; .btn-round { margin-left: 0.5em; margin-right: 0.5em; }
    }
  }
}

/* Load SVG for Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
  .sub-header .city-selector .ui-dropdown-container .btn-radius span{ line-height: 38px }
}