article.tip {

  background-color: #fff; height: 250px; position: relative;

  .content { position: absolute; left: 8.3%; top: 8.3%; width: 83.4%; height: 83.4%;
    h3 { color: $color-brown; }
    h4 { color: $color-medium-gray; }
    textarea { height: 75px; }
    .excerpt { font-size: 1.4em; line-height: 130%; text-align: center; height: 100%;
      td { vertical-align: middle;
        img { margin-bottom: 3%; }
      }
    }
    hr { border-color: #cdd0d1; }
    .author { width: 100%;
      td {
        vertical-align: middle; line-height: 130%; font-size: 1.4em;
        img{ margin-right: 1em; display: block }
      }
      td+td { width: 100% }
      b{ display: block; color: $color-dark-gray }
    }
  }

  .form form{
    .count{ float: left }
    input[type=submit]{ float: right }
  }

  .expert .excerpt { font-size: 1.6em; line-height: 150% }
}


@media only screen and (max-width: $grid-breakpoint-mobile) {

  article.tip {
    height: auto; padding: 2em;
    .content { position:  static; width: 100% }
    hr{ margin-top: 15px }
  }

}