.ui-slider{
  position: relative; width: 100%;
  .ui-slides{ position: relative; overflow: hidden; width: 100%; height: 100%; }
  .ui-slide{ width: 100%; position: absolute; left: 0; top: 0; height: 100%; overflow: hidden }
  .arrows{
    position: absolute; bottom: 0; right:0; z-index: 30;
    a {
      display: block; float: left; width: 4em; height: 4em; background: #fff;  cursor: pointer; position: relative; @include transition( background 0.2s ease-in-out, opacity 0.2s ease-in-out );
      &::after, &::before{ width: 1.5em; height: 1.5em; top: 1.25em; left: 1.25em; background: url("") no-repeat center; background-size: auto 100%; content: ''; position: absolute; @include transition( opacity 0.2s ease-in-out ) }
      &::after{ @include opacity(0); z-index: 1 }
      &.left::after{ background-image: url("../images/misc/arrow.left-white.png") }
      &.left::before{ background-image: url("../images/misc/arrow.left.png") }
      &.right::after{ background-image: url("../images/misc/arrow.right-white.png") }
      &.right::before{ background-image: url("../images/misc/arrow.right.png") }

      &:hover{ background: $color-brown }
      &:hover::after{ @include opacity(1) }

      &:hover.disabled{ background: #fff }
      &:hover.disabled::after{ @include opacity(0) }
      
      &.disabled{ opacity: 0.5; cursor: default; pointer-events:none }
    }
  }
  .dots{
    width: 100%; text-align: center; margin-top: 1em; display: none;
    a{ display: inline-block; width: 0.5em; height: 0.5em; border-radius: 50%; border: 1px solid $color-brown; @include transition( background 0.2s ease-in-out ); margin: 0 0.2em }
    a.active{ background: $color-brown }
  }

  &.type-bar-detail{
    .image{
      width: 50%; float: left; border-left:1px solid #fff; border-bottom:1px solid #fff; position: relative; overflow: hidden; box-sizing: border-box;
      .content{ position: relative; background: #000;
        .overlay{ background: #000; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 3; display: none }
        img{ width: 100%; height: auto; display: block }
        .btn-round{ position: absolute; top: 1em; right: 1em; z-index: 4 }
      }
      &.instagram span{ background-image: url("../images/icons/pin.instagram.png") }
      &.foursquare span{ background-image: url("../images/icons/pin.foursquare.png") }
    }
    .arrows a.left { border-right: 1px solid $color-brown; }
  }

  &.type-bar{
    .ui-slide{ border-left: 1px solid $color-cream; width: 33.33%; box-sizing: border-box }
    .arrows{
      position: static;
      a{
        top: 50%; margin-top: -2em; position: absolute; z-index: 99; @include opacity(0.8); background: $color-cream; @include transition(opacity 0.3s);
        &:hover{ @include opacity(1) }
        &:hover::after{ @include opacity(0) }
        &.disabled{ @include opacity(0) }
      }
      .left{ left: 0; border-radius: 0 50% 50% 0 }
      .right{ right: 0; border-radius: 50% 0 0 50% }
    }
  }

  &.type-cities, &.type-bestof
  {
    clear: both;
    .ui-slide { box-sizing: border-box; border-left: 0.3em solid transparent; border-right: 0.3em solid transparent; z-index: 40; margin-left: -0.3em }
    article {
      &:first-of-type { margin-left: 0; }
      &:last-of-type { margin-right: 0; }
    }
    .arrows{
      position: static;
      a{
        top: 50%; margin-top: -2em; position: absolute; z-index: 20; border: 1px solid $color-brown; background: transparent; @include transition(background 0.3s); width: 3.5em;
        &:hover{ background: $color-brown }
        &:hover::after{ @include opacity(1) }
        &.disabled{ @include opacity(0) }
      }
      .left{ left: -3.5em; border-radius: 50% 0 0 50%; border-right: 0; margin-left: 0 }
      .right{ right: -3.5em; border-radius: 0 50% 50% 0; border-left: 0; margin-right: 0 }
    }
  }

  &.type-cities{
    width: 90%; margin: 0 auto;
    .ui-slide { width: 16.8%; margin-left: -0.2% }
  }

  &.type-bestof{
    .ui-slide { width: 33.5% }
  }
}


@media only screen and (max-width: $grid-breakpoint-mobile) {

  .ui-slider
  {
      .dots{ display: block }

      &.type-bestof, &.type-bar {
        .ui-slide{ width: 100%; border: 0 }
        .arrows{ display: none }
      }

      &.type-cities {
        width: 100%;
        .ui-slide{ width: 33.33% }
        .arrows{ display: none }
        .dots{ margin-top: -0.5em }
      }

      &.type-bar {
        .ui-slide+.ui-slide { border-left: 0 }
        article{
             width: 100%;
             img.scale-with-grid{ display: block!important }
           }
      }
  }
}


html.webkit .ui-slide{ overflow: visible }

html.ie9 .ui-slider{
  &.type-cities{
    .ui-slide { width: 17% }
  }

  &.type-bestof{
    .ui-slide { width: 33.7% }
  }
}