.ui-radio
{
  padding-top: 0; padding-bottom: 0; height: 34px; line-height: 34px; text-transform: capitalize;
  input{ display:none }

  &.radio-dark:hover {
    background: $color-light-gray!important; color: $color-subtle-yellow; border-color:$color-light-gray;
  }

  &.radio-dark.active:hover {
    border-color:$color-cream;
  }
  &.radio-dark.active {
    color:$color-subtle-yellow;
  }

  &.collapsed {
    padding: 0.6em 1.5em 0.4em 1.5em; text-transform: uppercase; font-weight: bold; float: left;
    &:first-of-type { border-radius: 2em 0 0 2em; }
    &:last-of-type { border-radius: 0 2em 2em 0;
      &:after { clear: both; }
    }
    &.active { background-color: $color-brown; border: 1px solid $color-brown;
      &:hover { border-color: $color-medium-gray; }
    }
  }
}