{% extends '::Email/layout.email.twig' %}

{% block subject %}Tip created{% endblock %}
{% block title %}Tip created{% endblock %}
{% block body_content %}
    <tr>
        <td class="container">
            <table class="wrap">
                <tr>
                    <td align="center">
                        <p style="margin-bottom: 35px">Hello {{ user.username }},</p>

                        <p style="margin-bottom: 35px">A tip needs moderation : {{ tipUrl }}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
