{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div id="register-light">
        {% render url('wbb_user_registration_register_light') %}    
    </div>
    {{ include('WBBUserBundle:Registration:register_tips.html.twig') }}
{% endif %}