{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div id="register-light">
        {% if app.request.query.get('light', null) %}
            {% render url('wbb_user_registration_register_light') %}
        {% else %}
            {{ render(controller('WBBUserBundle:Security:login')) }}
        {% endif %}
    </div>
{% endif %}