{% if not is_mobile() or is_tablet() %}
    <section class="footer-ad">
        <div class="container align-center">
            <div class="twelve columns">
                <hr/>
                <img class="m-margin scale-with-grid" src="{% path ad.image, format %}" alt="{{ ad.name }}" width="728" height="90"/>
            </div>
        </div>
    </section>
{% endif %}