{% if not is_mobile() or is_tablet() %}
    <div class="clear"></div>
    <section class="footer-ad">
        <div class="container align-center">
            <div class="twelve columns">
                <hr/>
                <a href="{{ ad.link }}" target="_blank">
                    <img class="m-margin scale-with-grid" src="{{ showImage(ad.image, 'ads_728_90') }}" alt="{{ ad.name }}" width="728" height="90"/>
                </a>
            </div>
        </div>
    </section>
{% endif %}