<div class="block">
    <div class="side-ad xl-margin-top">
        <a href="{{ ad.link }}" target="_blank">
            <img src="{{ showImage(ad.image, 'ads_300_600') }}" alt="{{ ad.name }}" width="300" height="600">
        </a>
        <div class="txt">Advertising</div>
    </div>
</div>