<div class="block">
    <div class="side-ad xl-margin-top">
        <a href="{{ ad.link }}" target="_blank">
            <img src="{% path ad.image, format %}" alt="{{ ad.name }}" width="300" height="600">
        </a>
        <div class="txt">Advertising</div>
    </div>
</div>